<ul>
    <li><a href="/produkty">Produkty</a></li>
    <li><a href="/tribodiagnostika">Tribodiagnostika</a></li>
    <li><a href="/filtracia-oleja">Filtrácia oleja</a></li>
    <li><a href="/vyuzitie">Využitie</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
    <li><a href="/download">Na stiahnutie</a></li>
</ul>