<navbar id="navbar">
    <div id="logo_main">
        <a href="/"><img src="/logos/logo_main.png" alt="hlavne_logo"></a>    
    </div>
    <ul>
        <a class="product-dropmenu" href="/produkty"><li>Produkty</li></a>
        <a href="/tribodiagnostika"><li>Tribodiagnostika</li></a>
        <a class="filtracia-dropmenu" href="/filtracia-oleja"><li>Filtrácia oleja</li></a>
        <a href="/vyuzitie"><li>Využitie</li></a>
        <a href="/kontakt"><li>Kontakt</li></a>
        <a href="/download"><li>Na stiahnutie</li></a>
    </ul>
    <% if(currentUser) { %>
        <div id="user-status">
            <span>Prihlásený užívateľ:
            <span id="user-username"><%= currentUser.username %></span>
            </span>
            <a href="/logout"><button>Odhlásiť sa</button></a>
        </div>
    <% } %>
</navbar>
<div class="product-dropmenu dropmenu-design" id="product-dropmenu">
    <ul>
        <a href="/produkty/filtracne-telesa"><li>Filtračné telesá</li></a>
        <a href="/produkty/filtracne-zariadenia"><li>Filtračné zariadenia</li></a>
        <a href="/produkty/filtracne-vlozky"><li>Filtračné vložky</li></a>
        <a href="/produkty/magneticka-filtracia"><li>Magnetická filtrácia</li></a>
        <a href="/produkty/analyza-oleja"><li>Analýza oleja</li></a>
        <a href="/produkty/aquameter"><li>Aquameter</li></a>
    </ul>
</div>
<div class="filtracia-dropmenu dropmenu-design" id="filtracia-dropmenu">
    <ul>
        <a href="/filtracia-oleja/by-pass-filtracia"><li>By-pass filtracia</li></a>
        <a href="/filtracia-oleja/predlzenie-zivotnosti-oleja"><li>Predĺženie životnosti oleja</li></a>
        <a href="/filtracia-oleja/kontaminacia-oleja"><li>Kontaminacia oleja</li></a>
        <a href="/filtracia-oleja/filtracia-vseobecne"><li>Filtrácia všeobecne</li></a>
        <a href="/filtracia-oleja/nova-generacia-filtracie"><li>Nová generácia filtrácie</li></a>
        <a href="/filtracia-oleja/povrchova-filtracia"><li>Povrchová filtrácia</li></a>
        <a href="/filtracia-oleja/hlbkova-filtracia"><li>Hĺbková filtrácia</li></a>
        <a href="/filtracia-oleja/ucinnost-filtracie"><li>Účinnosť filtrácie</li></a>
    </ul>
</div>
</div>