<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecofil - svetový líder v by-passovej filtrácii</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <main>
        <%- body %>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>