<% layout("layouts/boilerplate") %>
<section class="uvod" id="mg-fi-text">
    <section class="uvod-text">
        <h1>Na stiahnutie</h1>
    </section>
</section>

<section class="down-container">
    <a class="down-row" href="/pdf/ecofil_prirucka_sk.pdf">Ecofil® - užívateľská príručka</a>
    <a class="down-row" href="/pdf/cerificate_eic.pdf">Inšpekčný certifikát o skúške bezpečnosti technického zariadenia</a>
    <a class="down-row" href="/pdf/oso_na_autorizaciu.pdf">Osvedčenie o odbornej spôsobilosti na autorizáciu</a>
    <a class="down-row" href="/pdf/rozhodnutie_o_autorizacii.pdf">Rozhodnutie o autorizácii</a>
    <a class="down-row" href="/pdf/1-Autorizacia_predlzenie_c_189-A-10-3_3_r2025.pdf">Rozhodnutie o predĺženie autorizácie</a>
    <a class="down-row" href="/pdf/suhlas_na_zhodnocovanie_mz.pdf">Súhlas na zhodnocovanie odpadov</a>
    <a class="down-row" href="/pdf/suhlas-prevadzkovy_poriadok_mz.pdf">Súhlas na vydanie prevádzkového poriadku</a>
    <a class="down-row" href="/pdf/CERTIFIKAT_EEZ.pdf">CERTIFIKÁT EEZ</a>
    <a class="down-row" href="/pdf/vodny_suhlas.pdf">Súhlas na skladovanie a zaobchádzanie so škodlivými látkami</a>
    <a class="down-row" href="/pdf/certifikat_vyrobcu_obalov.pdf">Certifikát výrobcu obalov</a>
    <a class="down-row" href="/pdf/2-Shlas_na_zhromaovanie_NO_u_pvodcu_do_r2024_platn.pdf">Súhlas na zhromažďovanie nebezpečných odpadov</a>
    <a class="down-row" href="/pdf/Dolozka_pravoplatnosti.pdf">Doložka právoplatnosti rozhodnutia</a>
    <a class="down-row" href="/pdf/Certifikt_Zatvarnicky_Andrej__Tribo_SKENG.pdf">Certifikát - technik diagnostik tribodiagnostik - kategória 2</a>
    <a class="down-row" href="/pdf/predlzenie_suhlasu_pp.pdf">Predĺženie súhlasu na prevádzkový poriadok</a>
    <a class="down-row" href="/pdf/predlzenie_suhlasu_mz.pdf">Predĺženie súhlasu na mobilné zariadenia</a>
    <a class="down-row" href="/pdf/certifikat_ftzu_17_ATEX_0009X.pdf">Certifikát FTZU 17 ATEX 0009X</a>
    <a class="down-row" href="/pdf/3-SUHLAS_na_prepravu_OU_KE_2021.pdf">Súhlas na prepravu nebezpečných odpadov</a>
    <a class="down-row" href="/pdf/Privacy_Policy_-_ECOFIL_Slovakia.pdf">Privacy Policy - ECOFIL Slovakia</a>
    <a class="down-row" href="/pdf/Pravidla_ochrany_sukromia_ECOFIL_Slovakia.pdf">Pravidla ochrany sukromia ECOFIL Slovakia</a>
    <a class="down-row" href="/pdf/Benutzerhandbuch_Neuron_2020_vrs_GSM-26022021.pdf">Benutzerhandbuch Neuron 2020 vrs GSM-26022021</a>
    <a class="down-row" href="/pdf/iso_certifikaty/Cerifikat_EN_ISO_9001_eng_2015.pdf">Systém riadenia spoločnosti ISO 9001:2015 - certifikát SK17/2599</a>
    <a class="down-row" href="/pdf/iso_certifikaty/Cerifikat_EN_ISO_14001_eng2015.pdf">Environmentálny systém riadenia podľa ISO 14001:2015 - certifikát SK14/2105</a>
    <a class="down-row" href="">Systém manažérstva bezpečnosti a ochrany zdravia pri práci podľa OHSAS 18001:2007 - certifikát SK14/2105</a>
</section>