<% layout("layouts/boilerplate") %>
<section id="video-container">
    <video autoplay loop>
        <source src="/videos/video_720p.mp4" type="video/mp4">
    </video>
</section>
<div id="video-lower-bar"></div>
<section id="zak-prog-container">
    <h1>Základný program</h1>
    <ul>
        <li>výroba olejových filtrov a filtračných zariadení pre priemyselnú výrobu</li>
        <li>obchodná činnosť v oblasti olejových filtrov a hydraulických prvkov určených na priemyselnú výrobu poradenstvo v odbore</li>
        <li>filtrácia oleja a nehorľavých kvapalín, filtrácia nafty a s tým spojené nakladanie s nebezpečným odpadom</li>
        <li>veľkoobchod a maloobchod v oblasti laboratórnych prístrojov a príslušenstva</li>
        <li>analýzy olejov a ich vyhodnotenia</li>
    </ul>
    <p>
        Nosnou činnosťou je výroba filtračných zariadení, filtračných vložiek, filtrácia olejov a nehorľavých kvapalín všetkých druhov.<br>
        Rozšírením výrobného programu o službu - filtrácia, poskytujeme pre svojich odberateľov veľmi efektívne a rýchle vyčistenie všetkých druhov olejov. <br>
        Touto činnosťou sa priamo podieľame na znižovaní objemu nebezpečného odpadu. <br>
        O spokojnosť a dobrú kvalitu sa stará skúsený kolektív ECOFIL-u ako aj výrobní technici a externí poradcovia.
    </p>
</section>

<section id="parallax-1" class="parallax">
    <div class="parallax-dim"></div>
    <p>Ecofil filtračné vložky odstraňujú z oleja vodu až do 10 ppm (0.001%), čím sa dramaticky znižuje tvorba kyselín a úbytok additív. Udržuje Total Base Number (TBN) na vysokej úrovni a Total Acid Number (TAN) nízko. Odstránením veľmi malých častí c už od 1 mikrónu je výrazne znížená záťaž na aditíva a tým je znížené aj mechanické opotrebenie pri dlhšom intervale výmeny oleja.</p>
</section>

<section id="historia-container">
    <h1>História</h1>
    <p>Počas celej existencie od roku 1991 sa výrobný program spoločnosti Ecofil prispôsoboval najnovším poznatkom a požiadavkám praxe ako aj trendom v oblasti filtrácie olejov, emulzií a nehorľavých kvapalín.</p>
    <span>Spoločnosť ECOFIL sa počas svojho pôsobenia na trhu vždy dôsledne prispôsobovala požiadavkám na certifikácie svojich výrobkov a systému riadenia, o čom svedčia aj osvedčenia TI SR - CEOC na výrobu filtračných zariadení s medzinárodnou platnosťou.</span>
    <div id="isologos-container">
        <div class="isologos">
            <img src="/images/iso9001.png" width="150" alt="">
            <p>
                systém riadenia<br>
                spoločnosti ISO 9001:2015<br>
                certifikát SK17/2599
            </p>
        </div>
        <div class="isologos">
            <img src="/images/iso14001.png" width="150" alt="">
            <p>
                environmentálny systém<br>
                riadenia podľa ISO 14001:2015<br>
                certifikát SK14/2105
            </p>
        </div>
        <div class="isologos">
            <img src="/images/ohsas18001.png" width="150" alt="">
            <p>
                systém manažérstva<br>
                bezpečnosti a ochrany<br>
                zdravia pri práci podľa<br>
                OHSAS 18001:2007<br>
                certifikát SK14/2105
            </p>
        </div>
    </div>
</section>

<section id="parallax-2" class="parallax">
    <div class="parallax-dim"></div>
    <p>Zem má obmedzené množstvo neobnoviteľných zdrojov a ich spotreba stúpa v znepokojujúcom tempe. S prísnejšími požiadavkami na zníženie environmentálneho dopadu v priemysle a s implementáciou ISO 14001 Ecofil pomáha redukovať tvorbu odpadového oleja a chráni tak životné prostredie pre ďalšie generácie.</p>
</section>

<section id="about-container">
    <div class="about-container-area">
        <h1>Kontakt</h1>
        <h3>ECOFIL, spol. s.r.o.</h3>
        <p>
            Okružná 6001071 01<br>
            Michalovce<br>
            Slovenská republika
        </p>
        <p>
            Telefón: +421 56 644 17 32<br>
            E-mail: info@ecofil.sk
        </p>
    </div>
    <div class="about-container-area">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=okru%C5%BEn%C3%A1%206001,%20Michalovce&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:300px;width:600px;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:600px;}</style></div></div>
    </div>
</section>