<% layout("layouts/boilerplate") %>
<section class="uvod" id="mg-fi-text">
    <section class="uvod-text">
        <h1>Kontakt</h1>
    </section>
</section>
<section id="contact-container">
    <section class="contact-area">
        <div>
            <h3>ECOFIL, spol. s.r.o.</h3>
            <p>
                Okružná 6001<br>
                071 01  Michalovce<br>
                Slovenská republika
            </p>
            <p>
                +421 56 644 17 32<br>
                info(at)ecofil.sk
            </p>
        </div>
        <div>
            <h3>Bankové spojenie:</h3>
            <p>
                Všeobecná úverová banka, a.s.<br>
                č.ú.: 9204552/0200<br>
                IBAN: SK44 0200 0000 0000 0920 4552<br>
                SWIFT CODE: SUBASKBX
            </p>
        </div>
            <div>
            <h3>Fakturačné údaje:</h3>
            <p>
                IČO: 00617334<br>
                DIČ: 2020497171<br>
                IČ DPH: SK2020497171
            </p>
        </div>
    </section>
    <section class="contact-area">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1000" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Okruzna%206001&t=k&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:500px;width:1000px;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1000px;}</style></div></div>
    </section>
</section>