<% layout("layouts/boilerplate") %>
<section class="uvod" id="mg-fi-text">
    <section class="uvod-text">
        <h1>Tribodiagnostika</h1>
    </section>
</section>
<section class="showpage-narrow">
    <h2>Fyzikálno-chemické analýzy a merania priemyselných olejov a kvapalín</h2>
    <p>ECOFIL štandardne ponúka zákazníkom fyzikálno-chemické analýzy priemyselných olejov a kvapalín.</p>
    <p>Z odobraných vzoriek priemyselných olejov a kvapalín v laboratóriu posudzujeme ich fyzikálno-chemické vlastnosti. Fyzikálno-chemické analýzy sa vykonávajú na certifikovaných a kalibrovaných zariadeniach spoločnosti Spectro Scientific, USA.</p>
    <div id="trib-pics-row">
        <a data-fslightbox href="/images/tribodia-pictures-row/1.jpeg" class="trib-pic"><img src="/images/tribodia-pictures-row/1.jpeg" width="200px" height="200px" alt="1"></a>
        <a data-fslightbox href="/images/tribodia-pictures-row/2.jpeg" class="trib-pic"><img src="/images/tribodia-pictures-row/2.jpeg" width="200px" height="200px" alt="2"></a>
        <a data-fslightbox href="/images/tribodia-pictures-row/3.jpeg" class="trib-pic"><img src="/images/tribodia-pictures-row/3.jpeg" width="200px" height="200px" alt="3"></a>
        <a data-fslightbox href="/images/tribodia-pictures-row/4.jpeg" class="trib-pic"><img src="/images/tribodia-pictures-row/4.jpeg" width="200px" height="200px" alt="4"></a>
    </div>
    <h4>1. Obsah mechanických nečistôt - <a href="">Ukážka</a></h4>
    <p>podľa ASTM D7596 - štandardná analyzačná metóda pre automatické počítanie častíc, triedenie častíc a tvarov častíc pomocou integrovaného testeru s priamym zobrazovaním</p>
    <p class="trib-cont-title">Stanovenie počtu častíc</p>
    <ul>
        <li>pre všetky častice od 4 μm do 100 μm</li>
        <li>najvyšší počet častíc až do 10 000 000 častíc / ml s náhodnou chybou <2%</li>
        <li>rozsah viskozity kvapalín ISO15 až ISO320 (neriedený)</li>
        <li>triedy čistoty podľa noriem ISO 4406, NAS 1638, NAVAIR 01-1A-17, SAE AS 4059, GOST 17216, ASTM D6786, HAL</li>
    </ul>
    <p class="trib-cont-title">Automatická klasifikácia tvaru častíc</p>
    <ul>
        <li>automaticky klasifikujte častice väčšie ako 20 μm</li>
        <li>7 tried tvaru častíc - abrazívne častice, častice z klzného opotrebenia, častice z kavitačného opotrebenia, nekovové, vodné kvapky, vzduchové bubliny, vlákna.</li>
    </ul>
    <p class="trib-cont-title">Stanovenie trendov kontaminacie</p>
    <ul>
        <li>nárast - pokles počtu častíc z časového hľadiska</li>
    </ul>
    <p class="trib-cont-title">Detekcia feromagnetických častíc</p>
    <ul>
        <li>&#60;10 ppm pre celkovú koncentráciu feromagnetických častíc</li>
        <li>eromagnetické častice > 25 μm</li>
        <li>stanovujeme koncentráciu feromagnetických častíc (PPM)</li>
        <li>% veľkých feromagnetických častíc (PLFP)</li>
        <li>index intenzity opotrebenia (Ferrous Wear Severity Index)</li>
    </ul>
    <h4>2. Obsah chemických prvkov v mazivách - <a href="">Ukážka</a></h4>
    <p>(podľa normy ASTM-D6595) a chladiacich kvapalinách pomocou emisného spektrometra RDE-OES (Rotating Disc Electrode Optical Emission Spectrometer)</p>
    <ul>
        <li>meriame a kvantifikujeme základné chemické prvky obsiahnuté v časticiach opotrebenia a aditíva v mazivách</li>
        <li>meriame 26 chemických prvkov v PPM: Ag, Al, B, Ba, Ca, Cd, Cr, Cu, Fe, K, Li, Mg, Mn, Mo, Na, Ni, P, Pb, Sb, Si, Sn, Ti, V, Zn, H, C</li>
        <li>stanovujeme kontaminácie chemickými látkami</li>
        <li>posudzujeme kondíciu a stav aditív v mazivách</li>
    </ul>
    <h4>3. IČ spektrum, meriame infračervenou spektroskopiou s Fourierovou transformáciou FTIR - <a href="">Ukážka</a></h4>
    <p>(podľa normy ASTM D7889) kľúčové parametre stavu mazív, vrátane:</p>
    <ul>
        <li>TAN - celkové číslo kyslosti</li>
        <li>TBN - celkové číslo alkality</li>
        <li>oxidáciu</li>
        <li>nitráciu</li>
        <li>sulfatáciu</li>
        <li>vyčerpanie - pokles obsahu aditív ( ASTM D7412/E2412_FTIR)</li>
        <li>sadze</li>
        <li>kontamináciu vodou, glykolom, nemrznúcimi kvapalinami, inými mazivami, atď.</li>
    </ul>
    <h4>4. Kinematická viskozita, meranie podľa normy ASTM D8092 a mechanicky</h4>
    <ul>
        <li>pri 40°C</li>
        <li>pri 100°C</li>
    </ul>
    <h4>5. Mäkké kaly, meranie a posúdenie podľa normy ASTM D7843 - <a href="">Ukážka</a></h4>
    <h4>6. Obsah vody</h4>
    <h4>7. Stanovenie bodu vzplanutia a bodu horenia metódou otvoreného téglika podľa Clevelanda</h4>
    <p>K vyhodnoteniu IČ spektra je potrebná vzorka objemu 100ml oleja. Pri prvom vyhodnotení IČ spektra je potrebná aj vzorka nového oleja objemu 100ml pre jednorazové vytvorenie štandardu. Na kompletný rozbor oleja je potrebná vzorka objemu 250ml oleja. Vzorku oleja je potrebné odobrať do čistej, neznečistenej nádoby predpísaným spôsobom. Pre bližšie informácie nás kontaktujte.</p>
    <p>Vzorku oleja môže odobrať zákazník (predpísaným spôsobom, ktorý zaručí objektívnu čistotu vzorky), alebo vzorku odoberú naši technici priamo u zákazníka.</p>
    <p>Súčasťou analýzy a meraní mazív je výstupný protokol s vyhodnotením a odporúčaním. ukážka po kliku zašlem Všetky analýzy a merania sú vykonávané certifikovanými pracovníkmi v obore tribodiagnostika.</p>
    <p>Pre vykonávanie analýzy mazív a kvapalín v teréne, odporúčame našu analyzačnú sadu.</p>
</section>