<% layout("layouts/boilerplate") %>
<section class="uvod" id="mg-fi-text">
    <section class="uvod-text">
        <h1>Využitie</h1>
    </section>
</section>

<section id="uses-body">
    <div class="uses-item">
        <img width="380px" src="/images/uses/engines.png" alt="Automotive">
        <div class="uses-text">
            <h2>Automotive</h2>
            <ul>
                <li>Ťažké nákladné vozidlá</li>
                <li>Ľahké nákladiaky</li>
                <li>Ťažká technika</li>
                <li>Generátory</li>
                <li>Vojenská technika</li>
                <li>Železnice</li>
                <li>Autobusy</li>
                <li>Traktory</li>
                <li>Kombajny</li>
                <li>Nakladače</li>
                <li>Rýpadlá</li>
                <li>Bagre</li>
                <li>Vysokozdvižné vozíky</li>
                <li>Ťahače</li>
                <li>Žeriavy</li>
            </ul>
        </div>
    </div>

    <div class="uses-item">
        <img width="380px" src="/images/uses/systems.png" alt="Systémy">
        <div class="uses-text">
            <h2>Systémy</h2>
            <ul>
                <li>Hydraulické systémy</li>
                <li>Lisy</li>
                <li>Glykolové systémy</li>
                <li>Trafostanice a transformátory</li>
                <li>Systémy teplonosných olejov</li>
                <li>Systémy chladiacich olejov</li>
                <li>Systémy s rastlinným olejom</li>
                <li>Ťažobné stroje</li>
                <li>Prevodovky</li>
                <li>Gumárenské stroje</li>
                <li>Turbíny</li>
                <li>Kompresory</li>
                <li>Priemyselné zariadenia</li>
                <li>Priemyselné olejové systémy</li>
                <li>Priemyselné mazacie systémy</li>
                <li>Zariadenia na úpravu terénu</li>
                <li>Zariadenia na stavbu ciest</li>
                <li>Vrtné veže</li>
                <li>Zbraňové systémy</li>
            </ul>
        </div>
    </div>

    <div class="uses-item">
        <img width="380px" src="/images/uses/industry.png" alt="Odvetvia">
        <div class="uses-text">
            <h2>Odvetvia</h2>
            <ul>
                <li>Energetika</li>
                <li>Baníctvo</li>
                <li>Ťažba nerastných surovín</li>
                <li>Ropný priemysel</li>
                <li>Stavebníctvo</li>
                <li>Armáda</li>
                <li>Námorníctvo</li>
                <li>Lode, Lodná preprava</li>
                <li>Rybolov</li>
                <li>Potravinársky priemysel</li>
                <li>Poľnohospodárstvo</li>
                <li>Drevospracujúci priemysel</li>
                <li>Spracovanie odpadu</li>
                <li>Ťažba dreva</li>
                <li>Železničné zariadenia</li>
                <li>Priemyselné tlačiarne</li>
                <li>Vojenská technika</li>
                <li>Stavebníctvo</li>
                <li>Papierenský priemysel</li>
                <li>Gumárensky priemysel</li>
            </ul>
        </div>
    </div>
</section>

<section class="image-gallery">
    <div id="outside" class="outside">
        <div id="list" class="gallery-list">
            <div class="album-strip">
                <% for(i=1;i<=46;i++){ %>
                <div class="album">
                    <img src="/images/uses/image-gallery/<%=i%>.jpg">
                </div>
                <% }%>
            </div>
        </div>
    </div>
</section>