.container {
  padding: 3rem 11rem;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    padding: 2rem 3rem;
  }
}
.container-narrow {
  padding: 2rem 3rem;
}
@media only screen and (max-width: 420px) {
  .container-narrow {
    padding: 0;
  }
}
.showpage {
  background-color: #f0f0f0;
  display: flex;
  padding: 3rem 2rem;
}
.showpage p {
  font-weight: 100;
}
@media only screen and (max-width: 800px) {
  .showpage {
    flex-direction: column;
    align-items: center;
  }
}
.showpage-narrow {
  background-color: #f0f0f0;
  padding: 1rem 2rem;
}
.showpage-narrow p {
  font-weight: 100;
}
.showpage-narrow li {
  font-weight: 100;
}
.breadcrumbs {
  height: 50px;
  background-color: #313131;
  font-size: 0.9rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.breadcrumbs ul {
  list-style: none;
  margin: 0;
  display: flex;
}
@media only screen and (max-width: 420px) {
  .breadcrumbs ul {
    font-size: 0.7rem;
  }
}
.breadcrumbs li {
  line-height: 50px;
  padding-right: 1rem;
  color: #fff;
}
.breadcrumbs a {
  color: #d9d9d9;
  font-weight: 100;
}
.active .bar:nth-child(2) {
  opacity: 0;
}
.active .bar:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}
.active .bar:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}
.active-menu {
  right: 0 !important;
}
#navbar {
  background-color: #f6f6f6;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 90;
}
#navbar .navbar-main-menu {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  height: 30px;
  background-color: #d9d9d9;
  transform: translateX(10px) skew(-25deg);
}
#navbar li {
  transform: skew(25deg);
  height: 30px;
  padding: 0 1.4rem;
  color: #313131;
  font-size: 1rem;
  line-height: 30px;
  height: 100%;
}
#navbar li:hover {
  background-color: #f6f6f6;
}
#navbar a {
  text-decoration: none;
}
#navbar #logo_main {
  align-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  #navbar #logo_main img {
    max-width: 220px;
  }
}
#navbar #hamburger {
  display: none;
  cursor: pointer;
  height: 50px;
  width: 55px;
}
#navbar #hamburger .bar {
  display: block;
  width: 50px;
  height: 5px;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #044278;
  border-radius: 1rem;
}
@media only screen and (max-width: 1050px) {
  #navbar .navbar-main-menu {
    position: fixed;
    top: 70px;
    right: -260px;
    height: 350px;
    width: 220px;
    transition: 0.2s linear;
    transform: none;
    flex-direction: column;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #044278;
  }
  #navbar .navbar-main-menu li {
    transform: none;
    font-size: 1.2rem;
    color: #f0f0f0;
  }
  #navbar .navbar-main-menu li:hover {
    color: #EABA5E;
    background-color: #044278;
  }
  #navbar #hamburger {
    display: block;
    width: 60px;
    height: 60px;
  }
  #navbar #logo_main {
    flex-grow: 0;
  }
  #navbar #logo_main img {
    max-width: 150px;
  }
}
@media only screen and (max-width: 1050px) {
  #navbar {
    box-sizing: border-box;
    height: 70px;
    padding: 0.5rem 1rem;
    align-items: center;
  }
}
.dropmenu-design {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 50px;
  background: #313131;
  z-index: 89;
  display: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 300;
  font-size: 0.9rem;
}
.dropmenu-design ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dropmenu-design a {
  text-decoration: none;
  color: #f6f6f6;
  line-height: 50px;
  transition: 0.2s linear;
  margin-right: 2.5rem;
  white-space: nowrap;
}
@media only screen and (max-width: 1200px) {
  .dropmenu-design a {
    margin-right: 1.2rem;
    font-size: 0.75rem;
  }
}
.dropmenu-design a:hover {
  color: #EABA5E;
}
@media only screen and (max-width: 1050px) {
  .dropmenu-design {
    display: none !important;
  }
}
.navbar-dropmenu-toggler {
  transform: translateY(50px);
}
#footer-container {
  transform: translateY(130px);
  display: flex;
  justify-content: center;
}
#footer-container p {
  margin: 0.7rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
#footer-container p span {
  color: red;
}
@media only screen and (max-width: 1050px) {
  #footer-container {
    transform: translateY(65px);
  }
}
#parallax-1 {
  background-image: url(/images/parallax1.jpg);
}
#parallax-2 {
  background-image: url(/images/parallax2.jpg);
}
#video-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
}
#video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
@media only screen and (max-width: 420px) {
  #video-container {
    height: 170px;
  }
}
@media only screen and (max-width: 380px) {
  #video-container {
    height: 130px;
  }
}
#video-lower-bar {
  background-color: #04549c;
  width: 68%;
  height: 30px;
  transform: skew(-25deg) translateX(-10px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
}
#zak-prog-container {
  padding: 3rem 11rem;
}
@media only screen and (max-width: 1200px) {
  #zak-prog-container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px) {
  #zak-prog-container {
    padding: 2rem 3rem;
  }
}
#zak-prog-container li {
  line-height: 2.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 420px) {
  #zak-prog-container li {
    line-height: 1.6rem;
    padding: 1rem 0;
  }
}
#zak-prog-container p {
  line-height: 1.7rem;
  padding-top: 2rem;
}
@media only screen and (max-width: 420px) {
  #zak-prog-container ul {
    padding-inline-start: 20px;
  }
}
#historia-container {
  padding: 3rem 11rem;
  background-color: #f6f6f6;
}
@media only screen and (max-width: 1200px) {
  #historia-container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px) {
  #historia-container {
    padding: 2rem 3rem;
  }
}
#historia-container span {
  font-weight: 500;
  display: inline-block;
  line-height: 1.5rem;
}
#isologos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
}
@media only screen and (max-width: 420px) {
  #isologos-container {
    flex-direction: column;
    align-items: center;
  }
}
.isologos {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.isologos p {
  text-align: center;
  color: #313131;
}
#about-container {
  padding: 5rem 11rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #EABA5E;
}
#about-container h1 {
  margin-top: 0;
}
@media only screen and (max-width: 420px) {
  #about-container {
    flex-direction: column;
    padding: 2rem 2rem;
    text-align: center;
  }
}
.about-container-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-container-area h3 {
  color: #fff;
  margin: 0.5rem 0rem;
  font-weight: 500;
}
.about-container-area p {
  margin: 0.5rem 0;
}
.about-container-area a {
  color: #313131 !important;
}
@media only screen and (max-width: 1200px) {
  .about-container-area .mapouter {
    max-width: 500px;
  }
  .about-container-area .mapouter iframe {
    max-width: 500px;
  }
  .about-container-area .gmap_canvas {
    max-width: 500px;
  }
}
@media only screen and (max-width: 1050px) {
  .about-container-area .mapouter {
    max-width: 400px;
  }
  .about-container-area .mapouter iframe {
    max-width: 400px;
  }
  .about-container-area .gmap_canvas {
    max-width: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .about-container-area .mapouter {
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .about-container-area .mapouter {
    margin: 2rem 0 1rem;
    max-width: 100%;
  }
  .about-container-area .mapouter iframe {
    max-width: 100%;
  }
  .about-container-area .gmap_canvas {
    max-width: 100%;
  }
}
.categories-container {
  background-color: #f0f0f0;
  padding: 2rem 3rem;
}
@media only screen and (max-width: 420px) {
  .categories-container {
    padding: 1.5rem 0rem;
  }
}
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.category-item {
  flex-basis: 1;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0.25turn, #022b4e, #044278);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  border-radius: 5px;
}
.category-item:hover {
  transform: translateY(-5px);
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 0.95;
}
.category-item h2 {
  color: #f6f6f6;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 800px) {
  .category-item {
    width: 80%;
    padding-bottom: 2rem;
  }
  .category-item h2 {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: 420px) {
  .category-item img {
    max-width: 200px;
  }
}
@media only screen and (max-width: 420px) {
  .category-item {
    margin: 0.5rem;
  }
  .category-item h2 {
    font-size: 1.8rem;
  }
}
.vlozka-items {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 420px) {
  .vlozka-items {
    justify-content: center;
  }
}
.vlozka-item {
  flex-basis: 280px;
  background-color: #f0f0f0;
  margin: 0.7rem;
  padding: 0.7rem 0.5rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.vlozka-item h3 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 0rem 0rem 0.5rem;
}
.vlozka-item-description ul {
  list-style: none;
  padding: 0;
  margin: 0.2rem;
}
.table-title-vlozka {
  font-weight: 500;
  min-width: 125px;
  text-align: right;
  padding: 0.3rem;
  vertical-align: text-top;
}
.vlozka-header {
  display: flex;
  justify-content: space-between;
}
#aquameter-section {
  display: flex;
  background-color: #f6f6f6;
}
@media only screen and (max-width: 800px) {
  #aquameter-section {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 420px) {
  #aquameter-section {
    padding-top: 2rem;
  }
}
#aquameter-content td {
  padding-right: 1rem;
}
@media only screen and (max-width: 800px) {
  #aquameter-content {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 420px) {
  #aquameter-content p {
    margin: 2rem 1rem;
  }
}
#ao-pics-row {
  display: flex;
  width: 100%;
  padding: 2rem;
  gap: 1.7rem;
  background-color: #f0f0f0;
  box-sizing: border-box;
}
@media only screen and (max-width: 420px) {
  #ao-pics-row {
    flex-wrap: wrap;
    padding: 2rem 4rem;
  }
}
.ao-pic {
  flex-grow: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.ao-pic:hover {
  cursor: pointer;
  opacity: 0.8;
}
#ao-yb-videos {
  display: flex;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  color: #044278;
  padding: 2rem 3rem;
}
@media only screen and (max-width: 1200px) {
  #ao-yb-videos iframe {
    max-width: 460px;
  }
}
@media only screen and (max-width: 1050px) {
  #ao-yb-videos {
    justify-content: space-between;
  }
  #ao-yb-videos h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  #ao-yb-videos iframe {
    max-width: 300px;
    max-height: 168px;
  }
}
@media only screen and (max-width: 800px) {
  #ao-yb-videos {
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  #ao-yb-videos iframe {
    max-width: 250px;
    max-height: 140px;
  }
}
#mg-fi-text {
  justify-content: flex-start;
}
#mg-fi-cont {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}
@media only screen and (max-width: 420px) {
  #mg-fi-cont {
    padding: 0;
  }
}
@media only screen and (max-width: 800px) {
  #mg-fi-cont {
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  #mg-fi-cont {
    padding: 1rem 2rem;
  }
}
.mg-fi-item {
  flex-basis: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 2px;
  transition: 0.2s linear;
  text-align: justify;
}
.mg-fi-item:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}
.mg-fi-item h2 {
  color: #044278;
}
@media only screen and (max-width: 1200px) {
  .mg-fi-item img {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 420px) {
  .mg-fi-item h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  .mg-fi-item img {
    width: 300px;
    height: 300px;
  }
  .mg-fi-item p {
    font-size: 0.9rem;
  }
}
.mg-container {
  padding: 2rem 3rem;
}
@media only screen and (max-width: 420px) {
  .mg-container {
    padding: 0;
  }
}
#ms-content {
  display: flex;
  flex-direction: column;
}
#ms-content h2 {
  color: #044278;
}
#ms-content ul {
  margin: 0 0 1rem 0;
}
@media only screen and (max-width: 420px) {
  #ms-content ul {
    padding-inline-start: 1.1rem;
  }
}
#ms-content li {
  line-height: 2rem;
}
@media only screen and (max-width: 420px) {
  #ms-content li {
    margin: 0 0 1rem;
  }
}
#ms-pics {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 800px) {
  #ms-pics {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 420px) {
  #ms-pics img {
    max-width: 200px;
    max-height: 200px;
  }
}
#ms-table {
  align-self: center;
  font-size: 0.9rem;
  background-color: #fff;
  margin: 2rem 0;
  border: 1px solid #d9d9d9;
}
#ms-table th {
  padding: 1.4rem 1rem;
  color: #044278;
  background-color: #f6f6f6;
}
#ms-table td {
  padding: 0.7rem 1rem;
}
@media only screen and (max-width: 420px) {
  #ms-table {
    font-size: 0.4rem;
  }
  #ms-table th {
    padding: 0.3rem;
  }
  #ms-table td {
    padding: 0.3rem;
  }
}
#ms-table tr:nth-child(2),
#ms-table tr:nth-child(4),
#ms-table tr:nth-child(6),
#ms-table tr:nth-child(9),
#ms-table tr:nth-child(10),
#ms-table tr:nth-child(11),
#ms-table tr:nth-child(15),
#ms-table tr:nth-child(16),
#ms-table tr:nth-child(17),
#ms-table tr:nth-child(21),
#ms-table tr:nth-child(23),
#ms-table tr:nth-child(25) {
  background-color: #f6f6f6;
}
#ms-video {
  background-color: #313131;
  padding: 2rem;
  color: #f6f6f6;
}
#ms-video h3 {
  color: #f6f6f6;
  font-weight: 300;
  margin: 0 0 1rem;
}
@media only screen and (max-width: 800px) {
  #ms-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 420px) {
  #ms-video iframe {
    max-width: 300px;
    max-height: 168px;
  }
}
.mf-container {
  background-color: #f0f0f0;
  display: flex;
  padding: 3rem 2rem;
}
.mf-container p {
  font-weight: 100;
}
@media only screen and (max-width: 800px) {
  .mf-container {
    flex-direction: column;
    align-items: center;
  }
}
.mf-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.mf-content h2 {
  color: #044278;
}
@media only screen and (max-width: 800px) {
  .mf-content {
    text-align: center;
  }
}
.trib-cont-title {
  font-weight: 500 !important;
}
#trib-pics-row {
  display: flex;
  gap: 1.7rem;
  background-color: #f0f0f0;
  box-sizing: border-box;
  margin: 2rem 0;
}
@media only screen and (max-width: 800px) {
  #trib-pics-row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.trib-pic {
  flex-basis: 200px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.trib-pic:hover {
  cursor: pointer;
  opacity: 0.8;
}
.trib-pic img {
  object-fit: cover;
}
@media only screen and (max-width: 800px) {
  .trib-pic img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media only screen and (max-width: 420px) {
  .trib-pic img {
    max-width: 120px;
    max-height: 120px;
  }
}
@media only screen and (max-width: 800px) {
  .trib-pic {
    flex-basis: 150px;
  }
}
@media only screen and (max-width: 420px) {
  .trib-pic {
    flex-basis: 120px;
  }
}
.fi-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.read-more {
  color: #d9d9d9;
  transition: 0.3s 0.2s linear;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
@media only screen and (max-width: 800px) {
  .read-more {
    bottom: 0.3rem;
    right: 0.3rem;
  }
}
.fi-category-item {
  flex-basis: 500px;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  border-radius: 5px;
}
.fi-category-item:hover {
  transform: translateY(-5px);
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 0.95;
}
.fi-category-item:hover .read-more {
  color: #c39134;
}
@media only screen and (max-width: 1200px) {
  .fi-category-item {
    flex-basis: 400px;
  }
}
@media only screen and (max-width: 1050px) {
  .fi-category-item {
    flex-basis: 370px;
  }
}
@media only screen and (max-width: 800px) {
  .fi-category-item {
    flex-basis: 100%;
  }
}
.fi-category-item h2 {
  color: #04549c;
}
.def-container {
  background-color: #313131;
}
.def-container h2 {
  color: #FFAF00;
}
@media only screen and (max-width: 800px) {
  .def-container {
    padding: 1rem;
  }
}
.def-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #313131;
  color: #b4b4b4;
}
@media only screen and (max-width: 800px) {
  .def-section {
    display: block;
  }
}
.def-section-item {
  flex-basis: 420px;
}
.def-section-item p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 0.5rem 0;
}
.def-section-item h3 {
  margin: 1.1rem 0 0.3rem 0;
  font-weight: 400;
  color: #f6f6f6;
}
.def-section-item h4 {
  color: #EABA5E;
}
.def-section-item table {
  font-size: 0.8rem;
}
.def-section-item table td {
  padding: 0.3rem 0.5rem 0.3rem 0;
  text-align: center;
  min-width: 43px;
}
.def-section-item table td:nth-child(2) {
  background-color: #646464;
}
.def-section-item table td:nth-child(4) {
  background-color: #646464;
}
.def-section-item img {
  margin-left: 1rem;
}
.eco-ft-video {
  background-color: #4b4b4b;
  padding: 1rem;
}
.eco-ft-video h2 {
  color: #f6f6f6;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 420px) {
  .eco-ft-video iframe {
    max-width: 300px;
    max-height: 162px;
  }
}
.filtr-sec-container {
  display: flex;
  background-color: #f0f0f0;
}
@media only screen and (max-width: 800px) {
  .filtr-sec-container {
    flex-direction: column;
    padding: 0;
  }
}
.filtr-sec-left {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  min-width: 300px;
  max-height: fit-content;
}
.filtr-sec-left h2 {
  background: linear-gradient(0.25turn, #022b4e, #044278);
  padding: 1rem 0 1rem 1rem;
  margin: 0;
  color: #f6f6f6;
}
.filtr-sec-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filtr-sec-left li {
  padding: 1rem 0 1rem 1rem;
  background-color: #3e3e3e;
  color: #f0f0f0;
  transition: 0.1s linear;
}
.filtr-sec-left li:hover {
  color: #EABA5E;
}
@media only screen and (max-width: 800px) {
  .filtr-sec-left {
    display: block;
  }
}
.filtr-sec-right {
  position: relative;
  width: 967px;
  background-color: #ffffff;
  margin: 0 2.5rem;
  padding: 1rem 2.5rem;
  color: #313131;
}
.filtr-sec-right h2 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.2rem;
}
.filtr-sec-right p {
  line-height: 1.6rem;
}
.filtr-sec-right li {
  line-height: 1.6rem;
  margin: 0.5rem 0;
}
.filtr-sec-right strong {
  display: inline-block;
  font-size: 1rem;
}
@media only screen and (max-width: 1050px) {
  .filtr-sec-right {
    margin-left: 0.5rem;
    padding: 1rem;
  }
  .filtr-sec-right h2 {
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 800px) {
  .filtr-sec-right {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
}
@media only screen and (max-width: 420px) {
  .filtr-sec-right {
    margin: 0;
  }
}
.filtr-sec-right-bypass {
  display: flex;
}
.filtr-sec-right-bypass img {
  margin-left: 1rem;
  max-width: 300px;
}
@media only screen and (max-width: 1200px) {
  .filtr-sec-right-bypass {
    flex-direction: column;
    align-items: center;
  }
  .filtr-sec-right-bypass img {
    margin: 0;
  }
}
.filtr-sec-visual {
  margin: 2rem;
  padding: 2rem;
  background-color: #f6f6f6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-evenly;
}
.filtr-sec-visual div {
  margin-left: 1rem;
}
.filtr-sec-visual img {
  align-self: center;
}
.filtr-sec-visual p {
  font-size: 0.8rem;
  line-height: 1.1rem;
}
@media only screen and (max-width: 1200px) {
  .filtr-sec-visual {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  }
  .filtr-sec-visual p {
    text-align: center;
  }
  .filtr-sec-visual div {
    margin: 0;
  }
  .filtr-sec-visual img {
    margin-bottom: 0.5rem;
  }
}
#ziv-upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ziv-tab {
  background-color: #f6f6f6;
  border-collapse: collapse;
}
.ziv-tab td {
  min-width: 80px;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.3rem 0;
}
@media only screen and (max-width: 1200px) {
  .ziv-tab td {
    min-width: 60px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 420px) {
  .ziv-tab td {
    min-width: 40px;
    font-size: 0.3rem;
  }
}
@media only screen and (max-width: 380px) {
  .ziv-tab td {
    min-width: 30px;
    font-size: 0.1rem;
  }
}
.ziv-tab-bl {
  background-color: rgba(169, 177, 204, 0.36);
  font-weight: 500;
}
.ziv-tab-org {
  background-color: rgba(255, 192, 0, 0.2);
  font-weight: 500;
}
.ziv-tab {
  display: none;
}
.ziv-tab tr:nth-child(n+3):hover {
  background: rgba(204, 204, 204, 0.5);
}
.table-visible {
  display: block;
}
.ziv-tab-control {
  display: flex;
  flex-wrap: wrap;
}
.ziv-tab-button {
  padding: 0.5rem 0.75rem;
  margin: 0.4rem;
  margin-left: 0;
  border: none;
  background: #f0f0f0;
  font-size: 0.8rem;
}
.ziv-tab-button:hover {
  cursor: pointer;
}
#vo-table td {
  min-width: 50px !important;
}
#vo-table .td-wide {
  min-width: 170px !important;
}
@media only screen and (max-width: 420px) {
  #vo-table td {
    min-width: 25px !important;
  }
  #vo-table .td-wide {
    min-width: 85px !important;
  }
}
@media only screen and (max-width: 380px) {
  #vo-table td {
    min-width: 22px !important;
  }
  #vo-table .td-wide {
    min-width: 82px !important;
  }
}
#vo-table thead {
  background-color: rgba(169, 177, 204, 0.36);
  font-weight: 500;
}
#ziv-pics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.ziv-pic figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ziv-pic figcaption p {
  margin: 0;
}
#uses-body {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1200px) {
  #uses-body img {
    max-width: 320px;
  }
}
@media only screen and (max-width: 1050px) {
  #uses-body img {
    max-width: 290px;
  }
}
@media only screen and (max-width: 800px) {
  #uses-body {
    flex-direction: column;
    padding: 1rem 3rem;
  }
  #uses-body img {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  #uses-body {
    padding: 1rem;
  }
}
.uses-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.uses-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media only screen and (max-width: 800px) {
  .uses-item {
    border-radius: 0;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 10px;
  }
  .uses-item ul {
    columns: 3;
  }
}
@media only screen and (max-width: 420px) {
  .uses-item ul {
    columns: 2;
  }
}
.uses-text {
  padding: 0rem 1rem;
  text-align: center;
}
.uses-text li {
  line-height: 2.2rem;
  font-size: 0.9rem;
}
.uses-text ul {
  list-style: none;
  padding: 0;
}
.uses-text h2 {
  color: #000;
}
@media only screen and (max-width: 800px) {
  .uses-text h2 {
    color: #044278;
  }
}
.image-gallery {
  overflow-x: scroll;
}
.image-gallery .outside {
  width: 1073.18vw;
  background: #242424;
}
@media only screen and (max-width: 800px) {
  .image-gallery .outside {
    width: 2087.02vw;
  }
}
.image-gallery .gallery-list {
  width: 100vw;
  transform: translateX(0px);
  transition: 0.1s all ease;
}
.image-gallery .album-strip {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .image-gallery .album-strip {
    padding-left: 0.6rem;
  }
}
@media only screen and (max-width: 420px) {
  .image-gallery .album-strip {
    padding-left: 0.1rem;
  }
}
.image-gallery .album-strip .album {
  margin-right: 0px;
  padding-top: 0.6vh;
}
.image-gallery .album-strip .album img {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  width: 22vw;
  aspect-ratio: 4 / 4;
  object-fit: cover;
  opacity: 0.6;
  margin: 0.66vw;
  transition: 0.2s linear;
}
.image-gallery .album-strip .album img:nth-child(:first) {
  margin-left: 1vw;
}
.image-gallery .album-strip .album img:hover {
  opacity: 1;
}
@media only screen and (max-width: 800px) {
  .image-gallery .album-strip .album img {
    width: 44vw;
  }
}
#contact-container {
  padding: 4rem 3rem;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}
#contact-container .contact-area {
  display: flex;
  flex-direction: column;
}
#contact-container .contact-area h3 {
  margin: 0;
}
#contact-container .contact-area div {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1200px) {
  #contact-container .mapouter {
    max-width: 700px;
  }
  #contact-container .mapouter iframe {
    max-width: 700px;
  }
  #contact-container .gmap_canvas {
    max-width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  #contact-container {
    font-size: 0.6rem;
  }
  #contact-container .mapouter {
    max-width: 500px;
  }
  #contact-container .mapouter iframe {
    max-width: 500px;
  }
  #contact-container .gmap_canvas {
    max-width: 500px;
  }
}
@media only screen and (max-width: 420px) {
  #contact-container {
    padding: 2rem 3rem;
    flex-direction: column;
    font-size: 0.9rem;
  }
  #contact-container .mapouter {
    max-width: 100%;
    max-height: 300px;
  }
  #contact-container .mapouter iframe {
    max-width: 100%;
    max-height: 300px;
  }
  #contact-container .gmap_canvas {
    max-width: 100%;
    max-height: 300px;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  color: #313131;
}
a {
  text-decoration: none;
  color: #FFAF00;
}
h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 1.5rem 0;
}
@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 380px) {
  h1 {
    font-size: 2rem;
  }
}
h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0.9rem 0;
}
p {
  line-height: 1.5rem;
}
iframe {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
main {
  z-index: 1;
  transform: translateY(130px);
}
@media only screen and (max-width: 1050px) {
  main {
    transform: translateY(70px);
  }
}
.parallax {
  width: 100%;
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.parallax p {
  width: 75%;
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  font-weight: 100;
  z-index: 2;
}
@media only screen and (max-width: 800px) {
  .parallax p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 420px) {
  .parallax {
    min-height: 400px;
  }
}
.parallax-dim {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.5);
}
#user-status {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #04549c;
  color: #fff;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}
#user-status #user-username {
  color: #42f542;
}
#user-status button {
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: #b93d3d;
  color: #fff;
  font-weight: 500;
  margin-top: 0.5rem;
  border: none;
}
#user-status button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1050px) {
  #user-status {
    top: 0.4rem;
    right: 6rem;
  }
}
.mapouter {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.uvod {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #044278;
  background: linear-gradient(0.25turn, #022b4e, #044278);
  color: #f6f6f6;
}
@media only screen and (max-width: 420px) {
  .uvod {
    padding: 1rem;
  }
}
.uvod-text {
  font-size: 0.8rem;
}
.uvod-text h3 {
  color: #FFAF00;
  font-weight: 500;
}
.uvod-text li {
  margin: 0.7rem 0;
  line-height: 1.3rem;
}
@media only screen and (max-width: 1200px) {
  .uvod-text {
    font-size: 0.7rem;
  }
  .uvod-text p {
    line-height: 0.9rem;
  }
  .uvod-text li {
    line-height: 1rem;
  }
}
@media only screen and (max-width: 420px) {
  .uvod-text {
    font-size: 1rem;
  }
  .uvod-text p {
    line-height: 1.6rem;
  }
  .uvod-text li {
    line-height: 1.5rem;
  }
}
.uvod-img {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .uvod-img {
    display: none;
  }
}
.operations {
  background: #f6f6f6;
  padding: 1rem 3rem;
  border-bottom: 2px solid #d9d9d9;
}
.operations a {
  color: #000;
  transition: 0.1s linear;
  font-size: 1.7rem;
}
.operations a img {
  margin-right: 0.5rem;
}
.operations a:hover {
  color: #398239;
}
.content {
  padding: 2rem 3rem 0;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 420px) {
  .content {
    padding: 1rem 1rem 0;
  }
}
.content-header {
  display: inline;
  padding: 1rem;
  background: #d9d9d9;
  border-radius: 10px;
}
@media only screen and (max-width: 420px) {
  .content-header {
    font-size: 1.6rem;
  }
}
.content-sub-header {
  padding: 0 1rem 1rem;
  margin: 0;
  text-align: justify;
}
@media only screen and (max-width: 420px) {
  .content-sub-header {
    font-size: 0.7rem;
  }
}
.content-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-item {
  background: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 550px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2px;
}
.content-item:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.2s linear;
  background-color: #d9d9d9;
}
@media only screen and (max-width: 420px) {
  .content-item {
    flex-direction: column;
  }
}
.content-item-img {
  display: flex;
  align-items: center;
}
.content-item-description {
  margin-left: 1rem;
}
.content-item-description h3 {
  color: #044278;
}
.content-item-description table {
  font-size: 0.9rem;
}
.table-title {
  font-weight: 600;
  text-align: right;
  margin-right: 1rem;
}
.table-title::after {
  content: ": ";
}
.item-control {
  display: flex;
  justify-content: flex-end;
}
.item-control button {
  padding: 10px 15px;
}
.item-control button:hover {
  cursor: pointer;
  color: red;
}
.item-control a {
  color: #000;
}
.showpage-title {
  font-size: 2rem;
  text-align: center;
}
.showpage-table {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 420px) {
  .showpage-table {
    font-size: 0.7rem;
  }
}
.product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f0f0f0;
  width: 430px;
  padding: 2rem;
  border-radius: 5px;
}
.product-form input {
  margin-bottom: 0.3rem;
  padding: 0.5rem 0.1rem 0.5rem 0.7rem;
  font-size: 0.8rem;
  border: none;
}
#filtrZar {
  background-color: #fff;
  border: none;
  margin-top: 0.3rem;
}
#product-form-vlozky {
  display: flex;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 5px;
  width: 600px;
}
#product-form-vlozky ul {
  list-style: none;
  padding: 0;
}
#product-form-vlozky input {
  margin-bottom: 0.3rem;
  padding: 0.5rem 0.1rem 0.5rem 0.7rem;
  font-size: 0.8rem;
  border: none;
}
#product-form-vlozky-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}
.add-product-button {
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: #044278;
  color: #fff;
  font-weight: 500;
  margin-top: 0.5rem;
  border: none;
}
.add-product-button:hover {
  cursor: pointer;
}
.cancel-product-button {
  width: 68px;
  height: 23px;
  background-color: #313131;
  font-size: 0.7rem;
  padding: 0.22rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #fff;
}
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.user-container .user-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding: 1.5rem 2.5rem;
  background-color: #f6f6f6;
}
.user-container .user-form-container h1 {
  margin: 0;
  font-size: 2.5rem;
}
.user-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-form label {
  display: block;
}
.user-form input {
  margin: 0.3rem 0 0.8rem;
  font-size: 1.2rem;
}
.user-form button {
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #044278;
  color: #fff;
  font-weight: 500;
  margin-top: 0.5rem;
  border: none;
}
.user-form button:hover {
  cursor: pointer;
}
.down-container {
  padding: 3rem;
}
.down-row {
  display: block;
  padding: 1rem;
  background-color: #f0f0f0;
  margin-bottom: 0.4rem;
  color: #044278;
  transition: 0.2s linear;
}
.down-row:hover {
  color: #FFAF00;
}
