<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/filtracia-oleja"><li>Filtrácia oleja</li></a>
        <li> / </li>
        <a href="/"><li>By-pass filtrácia</li></a>
    </ul>
</section>

<section class="container-narrow filtr-sec-container">
    <div class="filtr-sec-left">
        <h2>Filtrácia oleja</h2>
        <ul>
            <a href="/filtracia-oleja/by-pass-filtracia"><li style="background:orange;color:black">By-pass filtrácia</li></a>
            <a href="/filtracia-oleja/predlzenie-zivotnosti-oleja"><li>Predĺženie životnosti oleja</li></a>
            <a href="/filtracia-oleja/kontaminacia-oleja"><li>Kontaminácia oleja</li></a>
            <a href="/filtracia-oleja/filtracia-vseobecne"><li>Filtrácia všeobecne</li></a>
            <a href="/filtracia-oleja/nova-generacia-filtracie"><li>Nová generácia filtrácie</li></a>
            <a href="/filtracia-oleja/povrchova-filtracia"><li>Povrchová filtrácia</li></a>
            <a href="/filtracia-oleja/hlbkova-filtracia"><li>Hĺbková filtrácia</li></a>
            <a href="/filtracia-oleja/ucinnost-filtracie"><li>Účinnosť filtrácie</li></a>
        </ul>
    </div>
    <div class="filtr-sec-right">
        <h2>By-pass filtrácia</h2>
        <div class="filtr-sec-right-bypass">
            <div>
                <p><strong>Princípy obtokovej filtrácie</strong></p>
                <p>Princíp tejto filtrácie je veľmi jednoduchý. Na rozdiel od normálneho plnoprietokového filtra je každý obtokový filtračný systém inštalovaný v by-passe (obtoku) olejového okruhu. Malé množstvo oleja sa odoberá z hlavného toku oleja a prechádza cez filter, za ktorým sa čistený olej vracia do rovnakého systému alebo priamo do zásobníka oleja.</p>
                <p><strong>Obtoková filtrácia verzus plnoprietoková filtrácia</strong></p>
                <p>Keďže sa plnoprietokové filtre inštalujú priamo do systému, nie sú schopné  dostatočne absorbovať kontamináciu. Aby sa udržal stroj v prevádzke, musí plnoprietokový filter, dokonca aj pri vysokom tlaku, prefiltrovať a vrátiť do systému veľké množstvo oleja. V prípade hydraulických aplikácií veľké odchýlky tlaku ešte viac zväčšujú problém. Kvôli týmto veľkým množstvám oleja pretečených  za min. a kolísaniu tlaku sa plnoprietokový olej môže čistiť iba povrchne. Mikroskopické čistenie je možné, iba ak je olej trvale filtrovaný v malých množstvách pri nízkom a konštantnom tlaku. Riešenie tohto problému poskytuje obtokový filtračný systém. Pri by-passovej inštalácii, ktorá nemá logicky žiaden vplyv na stroj, je možné nastaviť tlak oleja a prietok oleja tak, aby sa dosiahli správne podmienky pre hĺbkové čistenie oleja, a aby sa absorbovalo viac menších kontaminantov ako pri plnoprietokovom filtri.</p>
                <p><strong>Ako funguje by-pass filter ECOFIL?</strong></p>
                <p>Jedná sa o obtokovú filtráciu, tzv. by-pass filtráciu, kde znečistený olej pod tlakom vchádza do filtra cez jeho vstup a je následne filtrovaný niekoľkými typmi filtrácií, ako je uvedené na obrázku. Z filtra pritom vychádza olej zbavený mechanických nečistôt, karbónu a značného percenta vody.</p>
            </div>
            <img src="/images/filtracia-oleja/by-pass.png" alt="By-Pass filtrácia" height="446">
        </div>
    </div>
</section>

<section class="container-narrow def-container">
    <h2>Definícia pojmov</h2>
    <section class="def-section">
        <div class="def-section-item">
            <h3>Filtračná schopnosť</h3>
            <p>je schopnosť filtra zachytávať častice určitej veľkosti. Na vyjadrenie filtračnej schopnosti sa používa filtračný koeficient βx a účinnosť filtra Ex.</p>
            <h3>Absorpcia</h3>
            <p>schopnosť média pohltiť alebo vtiahnuť látku do jej vnútra a udržať ju tam – veľmi dobrým príkladom je neupravený papier.</p>
            <h3>Adsorpcia</h3>
            <p>schopnosť média zastaviť alebo pozbierať látku na povrchu – veľmi dobrým príkladom je aktívne uhlie.</p>
        </div>
        <div class="def-section-item">
            <h3>Koeficient beta / beta pomer (ratio)</h3>
            <p>podľa normy ISO 4572 vyjadruje filtračnú schopnosť ako pomer medzi počtom častíc danej veľkosti vstupujúcich do filtra a počtom častíc danej veľkosti po výstupe z filtra. Výpočet danej účinnosti určí, či sa jedná o absolútnu alebo nominálnu filtráciu. Je to veľmi dôležitý parameter hodnotenia účinnosti filtračného elementu alebo filtračného média.</p>
            <h4>βx = Nd / Nu</h4>
            <p>βx - Beta pomer (alebo Beta účinnosť) pre kontaminanty väčšie ako x μm</p>
            <p>Nd - Počet častíc väčších ako x μm na jednotku objemu na vstupe do filtra</p>
            <p>Nu - Počet častíc väčších ako x μm na jednotku objemu na výstupe z filtra</p>   
            <img src="/images/filtracia-oleja/bx.png" alt="bx formula"> 
            <table>
                <tr>
                    <td><strong>βx</strong></td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><strong>Účinnosť</strong></td>
                    <td>0,0%</td>
                    <td>99,0%</td>
                    <td>99,5%</td>
                    <td>99,9%</td>
                </tr>
            </table>
        </div>
        <div class="def-section-item">
            <h3>Účinnosť filtra Ex</h3>
            <p>pri definovanej veľkosti častíc sa určí nasledovným spôsobom a udáva sa v %:</p>
            <p>Ex = ( 1 - 1 / βx ) * 100 (%)</p>
            <h3>Kapacita filtra</h3>
            <p>objem, ktorý je schopný prijať a súčasne filtrovať pri určenej filtračnej schopnosti a prietoku.</p>
            <h3>Jadro filtra</h3>
            <p>vnútorný materiál filtračnej vložky, ktorý slúži ako podporný pilier, na ktorý sa upevňuje filtračné médium.</p>
            <h3>Delta P (P)</h3>
            <p>symbol tlakovej straty, čo znamená rozdiel tlaku meraných pred a za filtračným telesom.</p>
        </div>
        <div class="def-section-item">
            <h3>Hustota</h3>
            <p>hmotnosť zodpovedajúca priepustnosti filtračného materiálu vyjadrená v g/m2.</p>
            <h3>Filtrát</h3>
            <p>kvapalina, ktorá vychádza z filtračnej nádoby po vzájomnom strete s filtračným médiom, elementom. </p>
            <h3>Mikrometer</h3>
            <p>sa používa ako hlavné porovnávacie kritérium pre stanovenie efektivity filtračného média v absolútnom alebo nominálnom hodnotení.</p>
        </div>
    </section>
</section>