<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/filtracia-oleja"><li>Filtrácia oleja</li></a>
        <li> / </li>
        <a href="/"><li>Filtrácia všeobecne</li></a>
    </ul>
</section>

<section class="container-narrow filtr-sec-container">
    <div class="filtr-sec-left">
        <h2>Filtrácia oleja</h2>
        <ul>
            <a href="/filtracia-oleja/by-pass-filtracia"><li>By-pass filtrácia</li></a>
            <a href="/filtracia-oleja/predlzenie-zivotnosti-oleja"><li>Predĺženie životnosti oleja</li></a>
            <a href="/filtracia-oleja/kontaminacia-oleja"><li>Kontaminácia oleja</li></a>
            <a href="/filtracia-oleja/filtracia-vseobecne"><li style="background:orange;color:black">Filtrácia všeobecne</li></a>
            <a href="/filtracia-oleja/nova-generacia-filtracie"><li>Nová generácia filtrácie</li></a>
            <a href="/filtracia-oleja/povrchova-filtracia"><li>Povrchová filtrácia</li></a>
            <a href="/filtracia-oleja/hlbkova-filtracia"><li>Hĺbková filtrácia</li></a>
            <a href="/filtracia-oleja/ucinnost-filtracie"><li>Účinnosť filtrácie</li></a>
        </ul>
    </div>
    <div class="filtr-sec-right">
        <h2>Filtrácia všeobecne</h2>
        <p>Filtrácia je metóda na oddeľovanie nerozpustných tuhých látok od kvapalín alebo plynov na základe rozdielnej veľkosti častíc. Suspenzia prúdi cez filter, pričom tekutina (filtrát) pretečie a filtračný zvyšok sa zachytí vo filtri.</p>
        <p>Pri filtrácii nám vzniká nežiadúca substancia (nečistota) a úlohou filtra je potreba jej zastavenia na presne stanovenom mieste pri použití vhodného typu filtra, alebo separátora. Túto problematiku oddeľovania jednotlivých substancií možno rozdeliť do štyroch základných skupín a to na:</p>
        <ul>
            <li>separácia pevné častice - plyn</li>
            <li>separácia pevné častice - kvapalina</li>
            <li>separácia kvapalina - kvapalina</li>
            <li>separácia pevné častice - pevnéč častice</li>
        </ul>
        <p>Najširším záberom <strong>separácie pevných častíc - plyn</strong>, reprezentuje filtrácia vzduchu a tak isto filtrácia priemyselných plynov, plynovodov, klimatizácie apod. Pri tomto procese sa používajú hlavne filtre, potom to môžu byť aj rôzne druhy separátorov, usádzače a kefy, ktoré tieto pevné častice odstraňujú.</p>
        <p><strong>Separácia pevné častice - kvapalina</strong> predstavuje najširší záber mechanickej filtrácie, kde je potrebné vo väčšine prípadov prefiltrovanie pomerne veľkého množstva kvapaliny a tak isto odstránenie veľkého množstva pevných častíc. Tieto procesy sa najčastejšie používajú v priemysle, kde tieto procesy sú polo alebo úplne automatizované. Z hľadiska ekológie má v tejto oblasti aj obrovský záber separácia prípadne filtrácia vody, úžitkovej alebo pitnej.</p>
        <p><strong>Separácia kvapalina - kvapalina</strong> a <strong>separácia pevné častice - pevné častice</strong> je veľmi náročná z hľadiska správnej voľby filtra či separátora, aby tento proces bol efektívny  z pohľadu separácie a aj ekonomicky efektívny. Tieto aplikácie sú už vysoko špecializované a sú potrebné pomerne veľké teoretické a v neposlednom rade aj praktické skúsenosti pre správnu voľbu filter / separátor. Tento druh separácie sa vo veľkej časti rôznych procesoch podieľa len partikulárne čiže rieši len čiastkovú časť celého procesu.</p>
        <p>Základnou metódou <strong>separácie kvapalina - kvapalina</strong> je napríklad destilácia ako tepelné štiepenie, ktorá je veľmi rozdielna od povrchovej filtrácie. V tomto prípade ide o chemické postupy separácie. Iným prípadom je napríklad separácia pomocou koalescerov, ktorá dokáže  rozdeliť dve rozdielne na princípe vzájomného spájania sa molekúl rovnakej veľkosti.. Zvláštnym prípadom je odseparovanie dvoch heterogénnych látok ako je voda a kyselina pomocou osmotických membrán založenej na princípe rozdielnej veľkosti molekúl.</p>
        <p>Najjednoduchšou a historicky najstaršou formou <strong>separácie tuhá latka - tuhá látka</strong> je separácia cez sito. Tu sa využívajú rozmerové  vlastnosti jednotlivých častíc. Účinnosť separácie je tu jednoznačne daná veľkosťou oka na site. Fyzikálne vlastnosti látok ako sú magnetické pole zase využívajú magnetické separátory (napr. pri oddeľovaní železnej rudy).</p>
        <p>Rozsah filtrácie je veľmi dôležitý z hľadiska jeho účinnosti a nákladov spojených s filtráciou. Je možné dosiahnuť veľmi účinnú filtráciu za vysoké náklady, ale z konštrukčného hľadiska na zariadení takáto filtrácia nie je potrebná. Opačný prípad môže nastať, ak sa budeme uberať cestou  ekonomicky najvýhodnejšej filtrácie, ale pre požadované zariadenie táto filtrácia bude málo účinná. V tomto prípade môže stroj byť veľmi poruchový, čím sa nám zvýšia náklady na údržbu, alebo sa zníži životnosť stroja a zariadenie bude potrebné často vymieňať. Preto pri rozhodovaní pre ktorý druh filtrácie sa rozhodneme, je potrebné mať dostatočné množstvo informácií o požiadavkách na čistotu jednotlivých komponentov stroja alebo na čistotu a presnosť procesu (napr. pri obrábaní).</p>
    </div>
</section>

<section class="container-narrow def-container">
    <h2>Definícia pojmov</h2>
    <section class="def-section">
        <div class="def-section-item">
            <h3>Filtračná schopnosť</h3>
            <p>je schopnosť filtra zachytávať častice určitej veľkosti. Na vyjadrenie filtračnej schopnosti sa používa filtračný koeficient βx a účinnosť filtra Ex.</p>
            <h3>Absorpcia</h3>
            <p>schopnosť média pohltiť alebo vtiahnuť látku do jej vnútra a udržať ju tam – veľmi dobrým príkladom je neupravený papier.</p>
            <h3>Adsorpcia</h3>
            <p>schopnosť média zastaviť alebo pozbierať látku na povrchu – veľmi dobrým príkladom je aktívne uhlie.</p>
        </div>
        <div class="def-section-item">
            <h3>Koeficient beta / beta pomer (ratio)</h3>
            <p>podľa normy ISO 4572 vyjadruje filtračnú schopnosť ako pomer medzi počtom častíc danej veľkosti vstupujúcich do filtra a počtom častíc danej veľkosti po výstupe z filtra. Výpočet danej účinnosti určí, či sa jedná o absolútnu alebo nominálnu filtráciu. Je to veľmi dôležitý parameter hodnotenia účinnosti filtračného elementu alebo filtračného média.</p>
            <h4>βx = Nd / Nu</h4>
            <p>βx - Beta pomer (alebo Beta účinnosť) pre kontaminanty väčšie ako x μm</p>
            <p>Nd - Počet častíc väčších ako x μm na jednotku objemu na vstupe do filtra</p>
            <p>Nu - Počet častíc väčších ako x μm na jednotku objemu na výstupe z filtra</p>   
            <img src="/images/filtracia-oleja/bx.png" alt="bx formula"> 
            <table>
                <tr>
                    <td><strong>βx</strong></td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><strong>Účinnosť</strong></td>
                    <td>0,0%</td>
                    <td>99,0%</td>
                    <td>99,5%</td>
                    <td>99,9%</td>
                </tr>
            </table>
        </div>
        <div class="def-section-item">
            <h3>Účinnosť filtra Ex</h3>
            <p>pri definovanej veľkosti častíc sa určí nasledovným spôsobom a udáva sa v %:</p>
            <p>Ex = ( 1 - 1 / βx ) * 100 (%)</p>
            <h3>Kapacita filtra</h3>
            <p>objem, ktorý je schopný prijať a súčasne filtrovať pri určenej filtračnej schopnosti a prietoku.</p>
            <h3>Jadro filtra</h3>
            <p>vnútorný materiál filtračnej vložky, ktorý slúži ako podporný pilier, na ktorý sa upevňuje filtračné médium.</p>
            <h3>Delta P (P)</h3>
            <p>symbol tlakovej straty, čo znamená rozdiel tlaku meraných pred a za filtračným telesom.</p>
        </div>
        <div class="def-section-item">
            <h3>Hustota</h3>
            <p>hmotnosť zodpovedajúca priepustnosti filtračného materiálu vyjadrená v g/m2.</p>
            <h3>Filtrát</h3>
            <p>kvapalina, ktorá vychádza z filtračnej nádoby po vzájomnom strete s filtračným médiom, elementom. </p>
            <h3>Mikrometer</h3>
            <p>sa používa ako hlavné porovnávacie kritérium pre stanovenie efektivity filtračného média v absolútnom alebo nominálnom hodnotení.</p>
        </div>
    </section>
</section>