<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/filtracia-oleja"><li>Filtrácia oleja</li></a>
        <li> / </li>
        <a href="/"><li>Hĺbková filtrácia</li></a>
    </ul>
</section>

<section class="container-narrow filtr-sec-container">
    <div class="filtr-sec-left">
        <h2>Filtrácia oleja</h2>
        <ul>
            <a href="/filtracia-oleja/by-pass-filtracia"><li>By-pass filtrácia</li></a>
            <a href="/filtracia-oleja/predlzenie-zivotnosti-oleja"><li>Predĺženie životnosti oleja</li></a>
            <a href="/filtracia-oleja/kontaminacia-oleja"><li>Kontaminácia oleja</li></a>
            <a href="/filtracia-oleja/filtracia-vseobecne"><li>Filtrácia všeobecne</li></a>
            <a href="/filtracia-oleja/nova-generacia-filtracie"><li>Nová generácia filtrácie</li></a>
            <a href="/filtracia-oleja/povrchova-filtracia"><li>Povrchová filtrácia</li></a>
            <a href="/filtracia-oleja/hlbkova-filtracia"><li style="background:orange;color:black">Hĺbková filtrácia</li></a>
            <a href="/filtracia-oleja/ucinnost-filtracie"><li>Účinnosť filtrácie</li></a>
        </ul>
    </div>
    <div class="filtr-sec-right">
        <h2>Hĺbková filtrácia</h2>
        <p>Ďalším základným typom mechanickej filtrácie, ktorá závisí od filtračného média je filtrácia v hĺbke filtračného média.</p>
        <p>Mechanizmus tejto filtrácie sa stáva viac komplexnejším. Dráha častice cez filter je oveľa dlhšia a kľukatejšia, čím sa dosahuje obrovská schopnosť jej zadržiavania sa vo filtri. Veľké častice sa zachytávajú na povrchových vrstvách a veľmi jemné zase na vnútorných hustejších vrstvách. Pri uniformovaných časticiach, ktoré sú približne rovnakej veľkosti sa pri tomto spôsobe filtrácie ukladajú smerom od vnútorných vrstiev až po vonkajšiu, čo je z hľadiska účinnosti filtrácie veľmi dôležitá vlastnosť. Difúzia malých častíc vplyvom skladby vnútorných vrstiev je oveľa menšia a dokážu sa vytvoriť a zadržať zhluky častíc do veľkosti 1 μm. Taktiež je treba poznamenať, že hĺbková filtrácia má za následok vyšší tlakový spád ako povrchová filtrácia. Tento princíp sa okrem kvapalín aj z vysokou viskozitou veľmi úspešne využíva aj pri filtrácii plynov.</p>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/hlb-fil.png" width="280" alt="Hlbkova filtracia">
            <div>
                <p><strong>Spôsob ukladania častíc pri hĺbkovom sitovaní</strong></p>
                <ol>
                    <li>kvapalina na vstupe do filtra</li>
                    <li>nečistoty</li>
                    <li>filtračné médium</li>
                    <li>medzný otvor</li>
                    <li>kvapalina na výstupe z filtra</li>
                </ol>
            </div>
        </div>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/hlb-fil-2.png" width="280" alt="Hlbkova filtracia">
            <div>
                <p><strong>Spôsob ukladania častíc pri hĺbkovej filtrácii</strong></p>
                <ol>
                    <li>kvapalina na vstupe do filtra</li>
                    <li>nečistoty</li>
                    <li>filtračné médium</li>
                    <li>medzný otvor</li>
                    <li>kvapalina na výstupe z filtra</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="container-narrow def-container">
    <h2>Definícia pojmov</h2>
    <section class="def-section">
        <div class="def-section-item">
            <h3>Filtračná schopnosť</h3>
            <p>je schopnosť filtra zachytávať častice určitej veľkosti. Na vyjadrenie filtračnej schopnosti sa používa filtračný koeficient βx a účinnosť filtra Ex.</p>
            <h3>Absorpcia</h3>
            <p>schopnosť média pohltiť alebo vtiahnuť látku do jej vnútra a udržať ju tam – veľmi dobrým príkladom je neupravený papier.</p>
            <h3>Adsorpcia</h3>
            <p>schopnosť média zastaviť alebo pozbierať látku na povrchu – veľmi dobrým príkladom je aktívne uhlie.</p>
        </div>
        <div class="def-section-item">
            <h3>Koeficient beta / beta pomer (ratio)</h3>
            <p>podľa normy ISO 4572 vyjadruje filtračnú schopnosť ako pomer medzi počtom častíc danej veľkosti vstupujúcich do filtra a počtom častíc danej veľkosti po výstupe z filtra. Výpočet danej účinnosti určí, či sa jedná o absolútnu alebo nominálnu filtráciu. Je to veľmi dôležitý parameter hodnotenia účinnosti filtračného elementu alebo filtračného média.</p>
            <h4>βx = Nd / Nu</h4>
            <p>βx - Beta pomer (alebo Beta účinnosť) pre kontaminanty väčšie ako x μm</p>
            <p>Nd - Počet častíc väčších ako x μm na jednotku objemu na vstupe do filtra</p>
            <p>Nu - Počet častíc väčších ako x μm na jednotku objemu na výstupe z filtra</p>   
            <img src="/images/filtracia-oleja/bx.png" alt="bx formula"> 
            <table>
                <tr>
                    <td><strong>βx</strong></td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><strong>Účinnosť</strong></td>
                    <td>0,0%</td>
                    <td>99,0%</td>
                    <td>99,5%</td>
                    <td>99,9%</td>
                </tr>
            </table>
        </div>
        <div class="def-section-item">
            <h3>Účinnosť filtra Ex</h3>
            <p>pri definovanej veľkosti častíc sa určí nasledovným spôsobom a udáva sa v %:</p>
            <p>Ex = ( 1 - 1 / βx ) * 100 (%)</p>
            <h3>Kapacita filtra</h3>
            <p>objem, ktorý je schopný prijať a súčasne filtrovať pri určenej filtračnej schopnosti a prietoku.</p>
            <h3>Jadro filtra</h3>
            <p>vnútorný materiál filtračnej vložky, ktorý slúži ako podporný pilier, na ktorý sa upevňuje filtračné médium.</p>
            <h3>Delta P (P)</h3>
            <p>symbol tlakovej straty, čo znamená rozdiel tlaku meraných pred a za filtračným telesom.</p>
        </div>
        <div class="def-section-item">
            <h3>Hustota</h3>
            <p>hmotnosť zodpovedajúca priepustnosti filtračného materiálu vyjadrená v g/m2.</p>
            <h3>Filtrát</h3>
            <p>kvapalina, ktorá vychádza z filtračnej nádoby po vzájomnom strete s filtračným médiom, elementom. </p>
            <h3>Mikrometer</h3>
            <p>sa používa ako hlavné porovnávacie kritérium pre stanovenie efektivity filtračného média v absolútnom alebo nominálnom hodnotení.</p>
        </div>
    </section>
</section>