<% layout("layouts/boilerplate") %>
<section class="uvod">
    <section class="uvod-text">
        <h1>Filtrácia oleja</h1>
        <h3>Olej sa neopotrebuje... len sa znečistí!</h3>
        <p>Meníte olej nie pretože chcete, ale pretože musíte. Motory a vysokotlakové hydraulické systémy, pracujú v rôznych prostrediach a sú vystavené rôznemu prevádzkovému zaťaženiu. Tomu odpovedá aj úroveň kontaminácie. Z toho dôvodu výrobcovia motorov odporúčajú vymieňať olej v určitých intervaloch.</p>
        <p>S dostupnou možnosťou analýzy oleja sa filozofia výmeny oleja v predpísaných a odporúčaných intervaloch v posledných rokoch zmenila. Analýza vzorky oleja umožňuje pozorovať úroveň kontaminácie, stav oleja a opotrebovávanie motora. Tiež umožňuje sledovať kontamináciu, kondíciu aditív, úroveň kyslosti (TAN) a opotrebovávanie v hydraulickom systéme. Tieto postupy môžu pomôcť identifikovať problémy ešte predtým, než sa prejavia poruchou.</p>
        <p>Výmena oleja je potrebná až keď sa olej kontaminuje, preto čím čistejší olej dokážete udržat, tým budú intervaly výmen dlhšie. Ak číslo kyslosti oleja zostane nízke, môžete dramaticky predĺžiť životnosť oleja. Viac ako 80% zlyhaní hydraulických zariadení je následkom kontaminácie oleja. Štyri hlavné príčiny opotrebovania oleja sú vlhkosť, častice nečistôt, nárast kyslosti a oxidácia - bežne sa vyskytujúce vo vysokotlakových systémoch. Efektívnym odstránením vody a mikročastíc, ktoré bežné filtre nezachytia, sa úroveň kontaminácie výrazne znižuje. Týmto sa okamžite zredukuje riziko poruchy ovládacích ventilov, odstávky zariadenia a potreby výmeny oleja. Ak koncentrácia mikročastíc a úroveň kyslosti zostanú nízke, môžete predĺžiť životnosť oleja a priamo tým zvýšiť produktivitu, ktorej výsledkom bude úspora a ochrana životného prostredia.</p>
    </section>
    <div  class="uvod-img">
        <img src="/images/filtracia-oleja/oil-filtration-category.png" alt="Filtrácia oleja" height="350px">
    </div>
</section>
<section class="container-narrow categories-container">
    <section class="fi-categories">
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/by-pass-filtracia'">
            <h2>By-pass filtrácia</h2>
            <p>Obtokový filtračný systém inštalovaný v by-passe (obtoku) olejového okruhu. Malé množstvo oleja sa odoberá z hlavného toku oleja a prechádza cez filter, za ktorým sa čistený olej vracia do rovnakého systému alebo priamo do zásobníka oleja.</p>     
            <span class="read-more">Čítaj ďalej →</span>
        </div>
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/predlzenie-zivotnosti-oleja'">
            <h2>Predĺženie životnosti oleja</h2>
            <p>Predĺženie životnosti komponentu a periódy výmeny oleja.</p>
            <span class="read-more">Čítaj ďalej →</span>     
        </div>
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/kontaminacia-oleja'">
            <h2>Kontaminácia oleja</h2>
            <p>Čistota oleja je trvalo ovplyvnená rôznymi faktormi, vznikajúcimi vo vnútri a mimo stroja, kde najdôležitejšie sú nerozpustné častice (kov, piesok, vlákna, guma, plasty) a voda.</p>
            <span class="read-more">Čítaj ďalej →</span>        
        </div>
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/filtracia-vseobecne'">
            <h2>Filtrácia všeobecne</h2>
            <p>Filtrácia je metóda na oddeľovanie nerozpustných tuhých látok od kvapalín alebo plynov na základe rozdielnej veľkosti častíc. Suspenzia prúdi cez filter, pričom tekutina (filtrát) pretečie a filtračný zvyšok sa zachytí vo filtri.</p>        
            <span class="read-more">Čítaj ďalej →</span>
        </div>
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/nova-generacia-filtracie'">
            <h2>Nová generácia filtrácie</h2>
            <p>Na predĺženie životnosti komponentu a periódy výmeny oleja potrebujete viac než len štandardný olej a filter.</p>        
            <span class="read-more">Čítaj ďalej →</span>
        </div>
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/povrchova-filtracia'">
            <h2>Povrchová filtrácia</h2>
            <p>Povrchová filtrácia je priame zachytávanie častíc na filtračnom médiu. Častice, ktoré sú väčšie ako je veľkosť otvorov alebo pórov filtračného média sa zachytia na povrchu filtra. Veľkosti týchto otvorov chránia takýmto spôsobom systém.</p>        
            <span class="read-more">Čítaj ďalej →</span>
        </div>
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/hlbkova-filtracia'">
            <h2>Hĺbková filtrácia</h2>
            <p>Ďalším základným typom mechanickej filtrácie, ktorá závisí od filtračného média je filtrácia v hĺbke filtračného média.</p>      
            <span class="read-more">Čítaj ďalej →</span>  
        </div>
        <div class="fi-category-item" onclick="location.href='/filtracia-oleja/ucinnost-filtracie'">
            <h2>Účinnosť filtrácie</h2>
            <p>Filtre sú konštruované pre potreby odstránenia jednotlivých kontaminantov z kvapaliny alebo iných nosných médií. My sa zaoberáme hlavne filtráciou kvapalín a ich analýzami. Množstvo a veľkosť zachytených častíc pri prietoku kvapaliny cez filtre nám  stanovuje pomocou testu účinnosti filtra.</p>   
            <span class="read-more">Čítaj ďalej →</span>     
        </div>
    </section>
</section>

<section class="container-narrow def-container">
    <h2>Definícia pojmov</h2>
    <section class="def-section">
        <div class="def-section-item">
            <h3>Filtračná schopnosť</h3>
            <p>je schopnosť filtra zachytávať častice určitej veľkosti. Na vyjadrenie filtračnej schopnosti sa používa filtračný koeficient βx a účinnosť filtra Ex.</p>
            <h3>Absorpcia</h3>
            <p>schopnosť média pohltiť alebo vtiahnuť látku do jej vnútra a udržať ju tam – veľmi dobrým príkladom je neupravený papier.</p>
            <h3>Adsorpcia</h3>
            <p>schopnosť média zastaviť alebo pozbierať látku na povrchu – veľmi dobrým príkladom je aktívne uhlie.</p>
        </div>
        <div class="def-section-item">
            <h3>Koeficient beta / beta pomer (ratio)</h3>
            <p>podľa normy ISO 4572 vyjadruje filtračnú schopnosť ako pomer medzi počtom častíc danej veľkosti vstupujúcich do filtra a počtom častíc danej veľkosti po výstupe z filtra. Výpočet danej účinnosti určí, či sa jedná o absolútnu alebo nominálnu filtráciu. Je to veľmi dôležitý parameter hodnotenia účinnosti filtračného elementu alebo filtračného média.</p>
            <h4>βx = Nd / Nu</h4>
            <p>βx - Beta pomer (alebo Beta účinnosť) pre kontaminanty väčšie ako x μm</p>
            <p>Nd - Počet častíc väčších ako x μm na jednotku objemu na vstupe do filtra</p>
            <p>Nu - Počet častíc väčších ako x μm na jednotku objemu na výstupe z filtra</p>   
            <img src="/images/filtracia-oleja/bx.png" alt="bx formula"> 
            <table>
                <tr>
                    <td><strong>βx</strong></td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><strong>Účinnosť</strong></td>
                    <td>0,0%</td>
                    <td>99,0%</td>
                    <td>99,5%</td>
                    <td>99,9%</td>
                </tr>
            </table>
        </div>
        <div class="def-section-item">
            <h3>Účinnosť filtra Ex</h3>
            <p>pri definovanej veľkosti častíc sa určí nasledovným spôsobom a udáva sa v %:</p>
            <p>Ex = ( 1 - 1 / βx ) * 100 (%)</p>
            <h3>Kapacita filtra</h3>
            <p>objem, ktorý je schopný prijať a súčasne filtrovať pri určenej filtračnej schopnosti a prietoku.</p>
            <h3>Jadro filtra</h3>
            <p>vnútorný materiál filtračnej vložky, ktorý slúži ako podporný pilier, na ktorý sa upevňuje filtračné médium.</p>
            <h3>Delta P (P)</h3>
            <p>symbol tlakovej straty, čo znamená rozdiel tlaku meraných pred a za filtračným telesom.</p>
        </div>
        <div class="def-section-item">
            <h3>Hustota</h3>
            <p>hmotnosť zodpovedajúca priepustnosti filtračného materiálu vyjadrená v g/m2.</p>
            <h3>Filtrát</h3>
            <p>kvapalina, ktorá vychádza z filtračnej nádoby po vzájomnom strete s filtračným médiom, elementom. </p>
            <h3>Mikrometer</h3>
            <p>sa používa ako hlavné porovnávacie kritérium pre stanovenie efektivity filtračného média v absolútnom alebo nominálnom hodnotení.</p>
        </div>
    </section>
</section>

<section class="container-narrow eco-ft-video">
    <h2>Ecofil Filtračná technológia</h2>
    <iframe width="350" height="188" src="https://www.youtube.com/embed/SgeKwyXFpDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>