<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/filtracia-oleja"><li>Filtrácia oleja</li></a>
        <li> / </li>
        <a href="/"><li>Kontaminácia oleja</li></a>
    </ul>
</section>

<section class="container-narrow filtr-sec-container">
    <div class="filtr-sec-left">
        <h2>Filtrácia oleja</h2>
        <ul>
            <a href="/filtracia-oleja/by-pass-filtracia"><li>By-pass filtrácia</li></a>
            <a href="/filtracia-oleja/predlzenie-zivotnosti-oleja"><li>Predĺženie životnosti oleja</li></a>
            <a href="/filtracia-oleja/kontaminacia-oleja"><li style="background:orange;color:black">Kontaminácia oleja</li></a>
            <a href="/filtracia-oleja/filtracia-vseobecne"><li>Filtrácia všeobecne</li></a>
            <a href="/filtracia-oleja/nova-generacia-filtracie"><li>Nová generácia filtrácie</li></a>
            <a href="/filtracia-oleja/povrchova-filtracia"><li>Povrchová filtrácia</li></a>
            <a href="/filtracia-oleja/hlbkova-filtracia"><li>Hĺbková filtrácia</li></a>
            <a href="/filtracia-oleja/ucinnost-filtracie"><li>Účinnosť filtrácie</li></a>
        </ul>
    </div>
    <div class="filtr-sec-right">
        <h2>Kontaminácia oleja</h2>
        <p>Čistota oleja je trvalo ovplyvnená rôznymi faktormi, vznikajúcimi vo vnútri a mimo stroja, kde najdôležitejšie sú nerozpustné častice (kov, piesok, vlákna, guma, plasty) a voda.</p>
        <p><strong>Kontaminácia oleja pevnými časticami</strong></p>
        <p>Určité množstvo kovových častíc, piesku a prachu, gumy, plastov, atď. je stále prítomné v oleji, dokonca aj v novom a ďalšia kontaminácia sa pridáva v okruhu vzduchovým filtrom alebo počas údržby. Vo funkcii k rozmerom a ich povahe tieto častice majú niekoľko negatívnych vplyvov na normálnu funkciu stroja a životnosť oleja. Najväčšie častice môžu byť dôvodom pre nefunkčnosť stroja, dokonca aj pre úplné vyradenie stroja z prevádzky. Bez ohľadu na aplikáciu, olej môže spĺňať svoju funkciu ak je dostatočne čistý a všetky aditíva sú prítomné.</p>
        <p><strong>Kontaminácia ako dôsledok opotrebenia</strong></p>
        <p>Väčšie častice sa zachytávajú medzi pohyblivými povrchmi a prekážajú pohybu komponentu. Procesy opotrebenia rozdeľujeme na tieto základné druhy:</p>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/adhezivne_opotrebenie.png" width="300" height="140" alt="Adhezivne opotrebenie">
            <div>
                <p><strong>Adhezívne opotrebenie</strong></p>
                <p>Je charakterizované rozrušovaním povrchu, ako výsledok porušovania mikrospojov, ktoré vznikajú interakciou medzi dotýkajúcimi povrchmi. Extrémnym prípadom adhézneho opotrebenia je zadieranie. Typickým prípadom takého opotrebenia sú klzné uloženia.</p>
            </div>
        </div>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/abrazivne_opotrebenie.png" width="300" height="140" alt="Abrazívne opotrebenie">
            <div>
                <p><strong>Abrazívne opotrebenie</strong></p>
                <p>Je charakterizované oddeľovaním častíc materiálu z funkčného povrchu ryhovacím účinkom tvrdého drsného povrchu druhého telesa, alebo účinkom abrazívnych častíc. Typickým príkladom abrazívneho opotrebenia je opotrebenie radličiek kultivátorov, opotrebenie čapu, oka článku pásového podvozku a podobne.</p>
            </div>
        </div>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/erozivne_opotrebenie.png" width="300" height="140" alt="Erozívne opotrebenie">
            <div>
                <p><strong>Erozívne opotrebenie</strong></p>
                <p>Je charakterizované poškodzovaním funkčného povrchu časticami unášanými prúdom kvapaliny alebo prúdom plynu. Typickým príkladom erozívneho opotrebenia je opotrebenie obežných kolies čerpadiel, opotrebenie cyklónov, lopatiek.</p>
            </div>
        </div>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/kavitacne_opotrebenie.png" width="300" height="140" alt="Kavitačné opotrebenie">
            <div>
                <p><strong>Kavitačné opotrebenie</strong></p>
                <p>Vyvoláva poškodzovanie povrchu súčiastok v oblasti zanikania kavitačných dutín. Kavitačné dutiny vznikajú pri náhlom poklese tlaku v kvapaline zmenou podmienok prúdenia. Pri zanikaní kavitačných dutín dochádza ku vzniku hydrodynamických rázov, čo spôsobuje namáhanie povrchov ktoré sú na blízku. S kavitačným opotrebením sa stretávame u súčiastok vodných turbín, čerpadiel, ale i v klzných ložiskách, v hydraulických systémoch a podobne.</p>
            </div>
        </div>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/unavove_opotrebenie.png" width="300" height="140" alt="Únavové opotrebenie">
            <div>
                <p><strong>Únavové opotrebenie</strong></p>
                <p>Je charakterizované postupnou kumuláciou porúch v povrchovej  vrstve ako výsledok opakovaných stykových napätí. Typickým príkladom únavového opotrebenia sú valivé ložiská, ozubené kolesá a ďalšie.</p>
            </div>
        </div>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/vibracne_opotrebenie.png" width="300" height="140" alt="Vibračné opotrebenie">
            <div>
                <p><strong>Vibračné opotrebenie</strong></p>
                <p>Vzniká pri vzájomnom kmitavom tangenciálnom posune funkčných povrchov pri pôsobení normálneho zaťaženia. Amplitúdy vibrácie sú zvyčajne malé. Najčastejšie sa vyskytuje v rôznych pohyblivých uloženiach.</p>
            </div>
        </div>
    </div>
</section>

<section class="container-narrow def-container">
    <h2>Definícia pojmov</h2>
    <section class="def-section">
        <div class="def-section-item">
            <h3>Filtračná schopnosť</h3>
            <p>je schopnosť filtra zachytávať častice určitej veľkosti. Na vyjadrenie filtračnej schopnosti sa používa filtračný koeficient βx a účinnosť filtra Ex.</p>
            <h3>Absorpcia</h3>
            <p>schopnosť média pohltiť alebo vtiahnuť látku do jej vnútra a udržať ju tam – veľmi dobrým príkladom je neupravený papier.</p>
            <h3>Adsorpcia</h3>
            <p>schopnosť média zastaviť alebo pozbierať látku na povrchu – veľmi dobrým príkladom je aktívne uhlie.</p>
        </div>
        <div class="def-section-item">
            <h3>Koeficient beta / beta pomer (ratio)</h3>
            <p>podľa normy ISO 4572 vyjadruje filtračnú schopnosť ako pomer medzi počtom častíc danej veľkosti vstupujúcich do filtra a počtom častíc danej veľkosti po výstupe z filtra. Výpočet danej účinnosti určí, či sa jedná o absolútnu alebo nominálnu filtráciu. Je to veľmi dôležitý parameter hodnotenia účinnosti filtračného elementu alebo filtračného média.</p>
            <h4>βx = Nd / Nu</h4>
            <p>βx - Beta pomer (alebo Beta účinnosť) pre kontaminanty väčšie ako x μm</p>
            <p>Nd - Počet častíc väčších ako x μm na jednotku objemu na vstupe do filtra</p>
            <p>Nu - Počet častíc väčších ako x μm na jednotku objemu na výstupe z filtra</p>   
            <img src="/images/filtracia-oleja/bx.png" alt="bx formula"> 
            <table>
                <tr>
                    <td><strong>βx</strong></td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><strong>Účinnosť</strong></td>
                    <td>0,0%</td>
                    <td>99,0%</td>
                    <td>99,5%</td>
                    <td>99,9%</td>
                </tr>
            </table>
        </div>
        <div class="def-section-item">
            <h3>Účinnosť filtra Ex</h3>
            <p>pri definovanej veľkosti častíc sa určí nasledovným spôsobom a udáva sa v %:</p>
            <p>Ex = ( 1 - 1 / βx ) * 100 (%)</p>
            <h3>Kapacita filtra</h3>
            <p>objem, ktorý je schopný prijať a súčasne filtrovať pri určenej filtračnej schopnosti a prietoku.</p>
            <h3>Jadro filtra</h3>
            <p>vnútorný materiál filtračnej vložky, ktorý slúži ako podporný pilier, na ktorý sa upevňuje filtračné médium.</p>
            <h3>Delta P (P)</h3>
            <p>symbol tlakovej straty, čo znamená rozdiel tlaku meraných pred a za filtračným telesom.</p>
        </div>
        <div class="def-section-item">
            <h3>Hustota</h3>
            <p>hmotnosť zodpovedajúca priepustnosti filtračného materiálu vyjadrená v g/m2.</p>
            <h3>Filtrát</h3>
            <p>kvapalina, ktorá vychádza z filtračnej nádoby po vzájomnom strete s filtračným médiom, elementom. </p>
            <h3>Mikrometer</h3>
            <p>sa používa ako hlavné porovnávacie kritérium pre stanovenie efektivity filtračného média v absolútnom alebo nominálnom hodnotení.</p>
        </div>
    </section>
</section>