<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/filtracia-oleja"><li>Filtrácia oleja</li></a>
        <li> / </li>
        <a href="/"><li>Nová generácia filtrácie</li></a>
    </ul>
</section>

<section class="container-narrow filtr-sec-container">
    <div class="filtr-sec-left">
        <h2>Filtrácia oleja</h2>
        <ul>
            <a href="/filtracia-oleja/by-pass-filtracia"><li>By-pass filtrácia</li></a>
            <a href="/filtracia-oleja/predlzenie-zivotnosti-oleja"><li>Predĺženie životnosti oleja</li></a>
            <a href="/filtracia-oleja/kontaminacia-oleja"><li>Kontaminácia oleja</li></a>
            <a href="/filtracia-oleja/filtracia-vseobecne"><li>Filtrácia všeobecne</li></a>
            <a href="/filtracia-oleja/nova-generacia-filtracie"><li style="background:orange;color:black">Nová generácia filtrácie</li></a>
            <a href="/filtracia-oleja/povrchova-filtracia"><li>Povrchová filtrácia</li></a>
            <a href="/filtracia-oleja/hlbkova-filtracia"><li>Hĺbková filtrácia</li></a>
            <a href="/filtracia-oleja/ucinnost-filtracie"><li>Účinnosť filtrácie</li></a>
        </ul>
    </div>
    <div class="filtr-sec-right">
        <h2>Nová generácia filtrácie</h2>
        <p>Na predĺženie životnosti komponentu a periódy výmeny oleja potrebujete viac než len štandardný olej a filter.</p>
        <p>Motory vyrábané od roku 2009 spĺňajú prísnejšie emisné štandardy, zatiaľ čo pracujú pri vyšších teplotách so značne vyššou kontamináciou oleja. Štandardné filtre v systéme sú plnoprietokové, to znamená, že filtrujú všetok olej, ktorý do filtra vstupuje a odstaňuje mikročastice nad 25 mikrónov v jednom prietoku. Tieto filtre sú navrhnuté tak aby odstaňovali častice pri vysokom prietoku, čo obmedzuje ich schopnosť filtrovať mikročastice o veľkosti 1-15 mikrónov (ako napríklad sadza/karbón). Veľmi malé častice predstavujú hlavný dôvod kontaminácie spojenej s opotrebovaním motora. Navyše tieto filtre dokonca vôbec neodstraňujú vodu, vytváranú pri spaľovaní. To v konečnom dôsledku spôsobuje tvorbu kyselín v oleji, čím sa zrýchľuje úbytok účinných aditív a zvyšuje tak proces korózie v motore.</p>
        <p>Plnoprietokové filtre samotné nedokážu udržať olej trvale čistý, obmedziť opotrebenie motora, alebo predĺžiť životnosť oleja. Vonkajšia kontaminácia vo vysokotlakových systémoch pochádza z rôznych zdrojov, ako sú napríklad aj kontaminovaný "nový nepoužitý olej", prachové častice prenášané vzduchom, vlhkosť vzduchu, ktorý sa do systému prirodzene dostáva cez nasávanie, tesnenie piestov, tesnenie hriadeľa, alebo dokonca pri bežnej údržbe systému. Vnútorná kontaminácia stúpa aj vplyvom samokontaminácie postupom času. Hlavné vysokotlakové filtre zachytávajú častice od 10 μm (hrúbka ľudského vlasu = 50 μm, baktéria = 2 μm) a má obmedzenú schopnosť odstaňovať vodu a veľké množstvo menších mikročastíc a tým dochádza k opotrebeniu kovov. Časom sa tieto častice kumulujú a vytvárajú abrazívny efekt v systéme. V spojení s prítomnosťou vody a tvorbou kyselín, je systém vystavený zrýchlenej erózii, brúsnemu a adhezívnemu opotrebeniu, kavitácii, únave, oxidácii, formovaniu gumoviny a kalu, čo znižuje životnosť a efektivitu komponentu a tak časom dojde k fatálnemu zlyhaniu. Bez odstraňovania vody a najmenších, plnoprietokové filtre nedokážu udržať olej dôkladne čistý.</p>
        <p>Prídavná filtrácia má schopnosť čistiť olej pri nízkom prietoku, zachytiť častice s veľkosťou už od 1μm, pomocou presného viacvrstvového filtra s axiálnym prúdením cez celulózovú vložku. Vložka odstaňuje veľmi malé častice a vodu, ktoré bežné filtre nezachytia. Filtrácia má štyri fázy a filtračné vložky sú navrhnuté tak, aby spĺňali požiadavky spojené s novou generáciou motorov. Sú vybavené sofistikovaným systémom kontroly úrovne kontaminácie, zahrňujúc všetky typy recirkulácií výfukových plynov (EGR), filtrácií sadzí vznetového motora (DPF) a ACERT technológie. Schopnosť efektívne pracovať v týchto vysoko kontaminovaných motoroch, Ecofil filtračné elementy predstavujú veľkú výhodu aj v motoroch vyrobených pred rokom 2010.</p>
        <p>V hydraulických a iných vysokotlakových systémoch sú vložky navrhnuté tak, aby spĺňali požiadavky proporcionálnych ventilov na vysokú čistotu oleja, potrebnú pre presnosť a stabilitu, presné polohovanie, dobrú rýchlosť a kontrolu akcelerácie.</p>
    </div>
</section>

<section class="container-narrow def-container">
    <h2>Definícia pojmov</h2>
    <section class="def-section">
        <div class="def-section-item">
            <h3>Filtračná schopnosť</h3>
            <p>je schopnosť filtra zachytávať častice určitej veľkosti. Na vyjadrenie filtračnej schopnosti sa používa filtračný koeficient βx a účinnosť filtra Ex.</p>
            <h3>Absorpcia</h3>
            <p>schopnosť média pohltiť alebo vtiahnuť látku do jej vnútra a udržať ju tam – veľmi dobrým príkladom je neupravený papier.</p>
            <h3>Adsorpcia</h3>
            <p>schopnosť média zastaviť alebo pozbierať látku na povrchu – veľmi dobrým príkladom je aktívne uhlie.</p>
        </div>
        <div class="def-section-item">
            <h3>Koeficient beta / beta pomer (ratio)</h3>
            <p>podľa normy ISO 4572 vyjadruje filtračnú schopnosť ako pomer medzi počtom častíc danej veľkosti vstupujúcich do filtra a počtom častíc danej veľkosti po výstupe z filtra. Výpočet danej účinnosti určí, či sa jedná o absolútnu alebo nominálnu filtráciu. Je to veľmi dôležitý parameter hodnotenia účinnosti filtračného elementu alebo filtračného média.</p>
            <h4>βx = Nd / Nu</h4>
            <p>βx - Beta pomer (alebo Beta účinnosť) pre kontaminanty väčšie ako x μm</p>
            <p>Nd - Počet častíc väčších ako x μm na jednotku objemu na vstupe do filtra</p>
            <p>Nu - Počet častíc väčších ako x μm na jednotku objemu na výstupe z filtra</p>   
            <img src="/images/filtracia-oleja/bx.png" alt="bx formula"> 
            <table>
                <tr>
                    <td><strong>βx</strong></td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><strong>Účinnosť</strong></td>
                    <td>0,0%</td>
                    <td>99,0%</td>
                    <td>99,5%</td>
                    <td>99,9%</td>
                </tr>
            </table>
        </div>
        <div class="def-section-item">
            <h3>Účinnosť filtra Ex</h3>
            <p>pri definovanej veľkosti častíc sa určí nasledovným spôsobom a udáva sa v %:</p>
            <p>Ex = ( 1 - 1 / βx ) * 100 (%)</p>
            <h3>Kapacita filtra</h3>
            <p>objem, ktorý je schopný prijať a súčasne filtrovať pri určenej filtračnej schopnosti a prietoku.</p>
            <h3>Jadro filtra</h3>
            <p>vnútorný materiál filtračnej vložky, ktorý slúži ako podporný pilier, na ktorý sa upevňuje filtračné médium.</p>
            <h3>Delta P (P)</h3>
            <p>symbol tlakovej straty, čo znamená rozdiel tlaku meraných pred a za filtračným telesom.</p>
        </div>
        <div class="def-section-item">
            <h3>Hustota</h3>
            <p>hmotnosť zodpovedajúca priepustnosti filtračného materiálu vyjadrená v g/m2.</p>
            <h3>Filtrát</h3>
            <p>kvapalina, ktorá vychádza z filtračnej nádoby po vzájomnom strete s filtračným médiom, elementom. </p>
            <h3>Mikrometer</h3>
            <p>sa používa ako hlavné porovnávacie kritérium pre stanovenie efektivity filtračného média v absolútnom alebo nominálnom hodnotení.</p>
        </div>
    </section>
</section>