<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/filtracia-oleja"><li>Filtrácia oleja</li></a>
        <li> / </li>
        <a href="/"><li>Účinnosť filtrácie</li></a>
    </ul>
</section>

<section class="container-narrow filtr-sec-container">
    <div class="filtr-sec-left">
        <h2>Filtrácia oleja</h2>
        <ul>
            <a href="/filtracia-oleja/by-pass-filtracia"><li>By-pass filtrácia</li></a>
            <a href="/filtracia-oleja/predlzenie-zivotnosti-oleja"><li>Predĺženie životnosti oleja</li></a>
            <a href="/filtracia-oleja/kontaminacia-oleja"><li>Kontaminácia oleja</li></a>
            <a href="/filtracia-oleja/filtracia-vseobecne"><li>Filtrácia všeobecne</li></a>
            <a href="/filtracia-oleja/nova-generacia-filtracie"><li>Nová generácia filtrácie</li></a>
            <a href="/filtracia-oleja/povrchova-filtracia"><li>Povrchová filtrácia</li></a>
            <a href="/filtracia-oleja/hlbkova-filtracia"><li>Hĺbková filtrácia</li></a>
            <a href="/filtracia-oleja/ucinnost-filtracie"><li style="background:orange;color:black">Účinnosť filtrácie</li></a>
        </ul>
    </div>
    <div class="filtr-sec-right">
        <h2>Účinnosť filtrácie</h2>
        <p>Filtre sú konštruované pre potreby odstránenia jednotlivých kontaminantov z kvapaliny alebo iných nosných médií. My sa zaoberáme hlavne filtráciou kvapalín a ich analýzami. Množstvo a veľkosť zachytených častíc pri prietoku kvapaliny cez filtre nám  stanovuje pomocou testu účinnosti filtra.</p>
        <p>Filtrácia z hľadiska účinnosti môže byť absolútna a nominálna. Stanovenie tejto účinnosti je dané použitím filtrovaného média, ktoré sa pridáva do nosného média. V praxi sa často používajú častice, ktorých zloženie je stanovené normou.</p>
        <div class="filtr-sec-visual">
            <img src="/images/filtracia-oleja/hlb-fil.png" width="280" alt="Hlbkova filtracia">
            <div>
                <p><strong>Nominálna a absolútna hodnota filtrácie</strong></p>
                <ol>
                    <li>kvapalina</li>
                    <li>vlákno pre test nominálnej hodnoty filtra</li>
                    <li>guľôčka pre test absolútnej hodnoty filtra</li>
                    <li>filtračné médium (mriežka 70 mikrónov)</li>
                </ol>
            </div>
        </div>
        <p><strong>Absolútna účinnosť filtra</strong></p>
        <p>Absolútna účinnosť filtra predstavuje množstvo zachytených častíc na filtri a udáva sa v %. Pri teste sa používajú častice, ktoré majú veľmi podobný tvar a rozmer (vo väčšine prípadov sú to častice guľovitého alebo  tvaru kocky). Ak filter má veľkosť otvoru napr. 5 μ  a testovacie častice sú taktiež 5 μ alebo väčšie množstvo častíc zachytených na filtri pri udaní absolútnej hodnoty napr. 98 % je veľmi presné a účinnosť filtra je vysoká. Je len málo pravdepodobné, že cez filter sa dostali častice väčšie ako 5 μ. Túto veličinu nám stanovuje hodnota Beta. Táto hodnota sa udáva na filtri a charakterizuje jeho základnú vlastnosť - filtračnú schopnosť.</p>
        <p><strong>Nominálna účinnosť filtra</strong></p>
        <p>Nominálna účinnosť filtra predstavuje množstvo zachytených častíc na filtri a udáva sa taktiež v %. Avšak v tomto prípade testovacie častice nemajú taký presný tvar ako pri teste absolútnej účinnosti. Tu sa na testovanie používajú častice tvaru valca kde priemer je 5 μ, ale dĺžka môže byť niekoľko desiatok mikrónov. Táto účinnosť na filtračnom médiu už nie je taká vysoká ako pri absolútnej, lebo pri 98 % nominálnej účinnosti môžu sa dostať cez filter nielen 5 mikrónové častice, ale aj oveľa väčšie. Pri absolútnej prešli len častice 5 mikrónové a nie väčšie.</p>
        <p><strong>Miera účinnosti filtra</strong></p>
        <p>V súčasnej dobe sa už vyrábajú filtre, ktoré majú vysokú účinnosť ako nominálnu tak aj absolútnu. Filtre s absolútnou účinnosťou sú oveľa presnejšie, čo sa týka  množstva a veľkosti odstránených častíc ako nominálne. Filtre  s vysokou absolútnou účinnosťou sa používajú vo väčšine prípadov  na vysoko tlakových hydraulických systémoch, kde je požiadavka na jemnú filtráciu. Ich nevýhodou je ich cena a pomerne vysoký tlakový spád pri zanesení. Filtre z nízkou absolútnou účinnosťou a vysokou nominálnou sa používajú v menej náročných tlakových systémoch, sú to predovšetkým stredne a nízko tlakové (ako mazanie, regulácia a obrábanie apod. )</p>
    </div>
</section>

<section class="container-narrow def-container">
    <h2>Definícia pojmov</h2>
    <section class="def-section">
        <div class="def-section-item">
            <h3>Filtračná schopnosť</h3>
            <p>je schopnosť filtra zachytávať častice určitej veľkosti. Na vyjadrenie filtračnej schopnosti sa používa filtračný koeficient βx a účinnosť filtra Ex.</p>
            <h3>Absorpcia</h3>
            <p>schopnosť média pohltiť alebo vtiahnuť látku do jej vnútra a udržať ju tam – veľmi dobrým príkladom je neupravený papier.</p>
            <h3>Adsorpcia</h3>
            <p>schopnosť média zastaviť alebo pozbierať látku na povrchu – veľmi dobrým príkladom je aktívne uhlie.</p>
        </div>
        <div class="def-section-item">
            <h3>Koeficient beta / beta pomer (ratio)</h3>
            <p>podľa normy ISO 4572 vyjadruje filtračnú schopnosť ako pomer medzi počtom častíc danej veľkosti vstupujúcich do filtra a počtom častíc danej veľkosti po výstupe z filtra. Výpočet danej účinnosti určí, či sa jedná o absolútnu alebo nominálnu filtráciu. Je to veľmi dôležitý parameter hodnotenia účinnosti filtračného elementu alebo filtračného média.</p>
            <h4>βx = Nd / Nu</h4>
            <p>βx - Beta pomer (alebo Beta účinnosť) pre kontaminanty väčšie ako x μm</p>
            <p>Nd - Počet častíc väčších ako x μm na jednotku objemu na vstupe do filtra</p>
            <p>Nu - Počet častíc väčších ako x μm na jednotku objemu na výstupe z filtra</p>   
            <img src="/images/filtracia-oleja/bx.png" alt="bx formula"> 
            <table>
                <tr>
                    <td><strong>βx</strong></td>
                    <td>1</td>
                    <td>100</td>
                    <td>200</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><strong>Účinnosť</strong></td>
                    <td>0,0%</td>
                    <td>99,0%</td>
                    <td>99,5%</td>
                    <td>99,9%</td>
                </tr>
            </table>
        </div>
        <div class="def-section-item">
            <h3>Účinnosť filtra Ex</h3>
            <p>pri definovanej veľkosti častíc sa určí nasledovným spôsobom a udáva sa v %:</p>
            <p>Ex = ( 1 - 1 / βx ) * 100 (%)</p>
            <h3>Kapacita filtra</h3>
            <p>objem, ktorý je schopný prijať a súčasne filtrovať pri určenej filtračnej schopnosti a prietoku.</p>
            <h3>Jadro filtra</h3>
            <p>vnútorný materiál filtračnej vložky, ktorý slúži ako podporný pilier, na ktorý sa upevňuje filtračné médium.</p>
            <h3>Delta P (P)</h3>
            <p>symbol tlakovej straty, čo znamená rozdiel tlaku meraných pred a za filtračným telesom.</p>
        </div>
        <div class="def-section-item">
            <h3>Hustota</h3>
            <p>hmotnosť zodpovedajúca priepustnosti filtračného materiálu vyjadrená v g/m2.</p>
            <h3>Filtrát</h3>
            <p>kvapalina, ktorá vychádza z filtračnej nádoby po vzájomnom strete s filtračným médiom, elementom. </p>
            <h3>Mikrometer</h3>
            <p>sa používa ako hlavné porovnávacie kritérium pre stanovenie efektivity filtračného média v absolútnom alebo nominálnom hodnotení.</p>
        </div>
    </section>
</section>