<% layout("layouts/boilerplate") %>
<section class="container-narrow">
    <h2>Pridaj nové filtračné teleso</h2>
    <form class="product-form" action="/produkty/filtracne-telesa" method="POST" enctype="multipart/form-data">
        <div>
            <label for="nazov">Názov</label>
            <input type="text" name="filtracneTeleso[nazov]" id="nazov" required>
        </div>
        <div>
            <label for="obrazok">Fotka</label>
            <input type="file" name="obrazok" id="obrazok" required>
        </div>
        <div>
            <label for="normPrietok">Norm. Prietok</label>
            <input type="text" name="filtracneTeleso[normPrietok]" id="normPrietok">
        </div>
        <div>
            <label for="filtrSchopnost">Filtr. Schopnosť</label>
            <input type="text" name="filtracneTeleso[filtrSchopnost]" id="filtrSchopnost">
        </div>
        <div>
            <label for="maxTepOleja">Maximálna Teplota Oleja </label>
            <input type="text" name="filtracneTeleso[maxTepOleja]" id="maxTepOleja">
        </div>
        <div>
            <label for="maxObjNadrze">Maximálny objem nádrže</label>
            <input type="text" name="filtracneTeleso[maxObjNadrze]" id="maxObjNadrze">
        </div>
        <div>
            <label for="viskVstupnehoOleja">Viskozita vstupného oleja</label>
            <input type="text" name="filtracneTeleso[viskVstupnehoOleja]" id="viskVstupnehoOleja">
        </div>
        <div>
            <label for="prevSkusTlak">Prevádzkovy / Skúšobný tlak</label>
            <input type="text" name="filtracneTeleso[prevSkusTlak]" id="prevSkusTlak">
        </div>
        <div>
            <label for="hydrPripVstup">Hydraulický prípoj - vstup</label>
            <input type="text" name="filtracneTeleso[hydrPripVstup]" id="hydrPripVstup">
        </div>
        <div>
            <label for="hydrPripVystup">Hydraulický prípoj - výstup</label>
            <input type="text" name="filtracneTeleso[hydrPripVystup]" id="hydrPripVystup">
        </div>
        <div>
            <label for="vonkRozm">Vonkajšie rozmery</label>
            <input type="text" name="filtracneTeleso[vonkRozm]" id="vonkRozm">
        </div>
        <div>
            <label for="hmotnost">Hmotnost</label>
            <input type="number" name="filtracneTeleso[hmotnost]" id="hmotnost" step=".01">
        </div>
        <div>
            <label for="vlozka">Filtračná vložka</label>
            <select name="filtracneTeleso[filtrVlozka]" id="vlozka">
                <option>-</option>
                <% for(let vlozka of vlozky) { %>
                <option value="<%= vlozka._id %>"><%= vlozka.typ %></option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="material">Materiál</label>
            <input type="text" name="filtracneTeleso[material]" id="material">
        </div>
        <div>
            <label for="kategoria">Kategória</label>
            <select name="filtracneTeleso[kategoria]" id="kategoria">
                <option value="">-</option>
                <option value="Séria T">Séria T</option>
                <option value="Séria H">Séria H</option>
                <option value="Ostatné">Ostatné</option>
            </select>
        </div>
        <div>
            <button class="add-product-button">✓ Pridať</button>
            <a class="cancel-product-button" href="/produkty/filtracne-telesa">X Zrušiť</a>
        </div>
    </form>
</section>