//magneticka filtracia - index page
#mg-fi-text {
    justify-content: flex-start;
}

#mg-fi-cont {
    .container-narrow;
    display:flex;
    justify-content: space-between;
    background-color: @grey-light;
    @media @800 {
        display:block;
    }
    @media @420 {
        padding:1rem 2rem;
    }
}

.mg-fi-item {
    flex-basis:600px;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: @grey-medium;
    padding:2rem;
    border-radius:2px;
    transition:0.2s linear;
    text-align:justify;
    &:hover{
        cursor:pointer;
        background-color: @grey-dark;
    };
    h2 {
        color:@blue-dark;
    }
    @media @1200 {
        img {
            width:400px;
            height:400px;
        }
    }
    @media @420 {
        margin-bottom:1rem;
        h2 {
            font-size:1.5rem;
            margin:0;
        }
        img {
            width: 300px;
            height: 300px;
        }
        p {
            font-size: 0.9rem;
        }
    }
}

.mg-container {
    padding:2rem 3rem;
    @media @420 {
        padding:0;
    }
}

// magenticky separator
#ms-content {
    display:flex;
    flex-direction:column;
    h2 {
        color:@blue-dark;
    };
    ul {
        margin:0 0 1rem 0;
        @media @420 {
            padding-inline-start: 1.1rem;
        }
    };
    li {
        line-height:2rem;
        @media @420 {
            margin:0 0 1rem;
        }
    };
}

#ms-pics {
    display:flex;
    justify-content: space-evenly;
    @media @800 {
        flex-direction: column;
        align-items: center;
    }
    @media @420 {
        img {
            max-width: 200px;
            max-height: 200px;
        }
    }
}

#ms-table {
    align-self: center;
    font-size:0.9rem;
    background-color:#fff;
    margin:2rem 0;
    border:1px solid @grey-dark;
    th {
        padding: 1.4rem 1rem;
        color:@blue-dark;
        background-color:@grey-light;
    };
    td {
        padding:0.7rem 1rem;
    }
    @media @420 {
        th {
            padding:0.3rem;
        }
        td {
            padding:0.3rem;
        }
        font-size:0.4rem;
    }
}

#ms-table tr:nth-child(2),
#ms-table tr:nth-child(4),
#ms-table tr:nth-child(6),
#ms-table tr:nth-child(9),
#ms-table tr:nth-child(10),
#ms-table tr:nth-child(11),
#ms-table tr:nth-child(15),
#ms-table tr:nth-child(16),
#ms-table tr:nth-child(17),
#ms-table tr:nth-child(21),
#ms-table tr:nth-child(23),
#ms-table tr:nth-child(25) {
    background-color:@grey-light;
}

#ms-video {
    background-color:@black-main;
    padding:2rem;
    color:@grey-light;
    h3 {
        color:@grey-light;
        font-weight:300;
        margin:0 0 1rem;
    }
    @media @800 {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    @media @420 {
        iframe {
            max-width:300px;
            max-height: 168px;
        }
    }
}

// magneticky filter
.mf-container {
    background-color: @grey-medium;
    display:flex;
    padding:3rem 2rem;
    p {
        font-weight:100;
    }
    @media @800 {
        flex-direction: column;
        align-items: center;
    }
}

.mf-content {
    display:flex;
    flex-direction:column;
    text-align:justify;
    h2 {
        color:@blue-dark;
    }
    @media @800 {
        text-align: center;
    }
}