.vlozka-items {
    display:flex;
    flex-wrap: wrap;
}

.vlozka-item {
    flex-basis:280px;
    background-color: @grey-medium;
    margin:0.7rem;
    padding-left:0.7rem;
    font-size:0.8rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    h3 {
        font-size:1.2rem;
        font-weight: 500;
        text-align: center;
    }
}

.vlozka-item-description ul {
    list-style: none;
    padding:0;
}

.table-title-vlozka {
    font-weight:500;
    min-width:125px;
}

.vlozka-header {
    display:flex;
    justify-content:space-between;
}