<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/produkty"><li>Produkty</li></a>
        <li> / </li>
        <a href=""><li>Mag. filtrácia</li></a>
    </ul>
</section>

<section class="uvod" id="mg-fi-text">
    <section class="uvod-text">
        <h1>Magentická filtrácia</h1>
    </section>
</section>

<section id="mg-fi-cont">
    <div class="mg-fi-item" onclick="location.href='/produkty/magneticka-filtracia/magneticky-separator'">
            <h2>Magnetický separátor</h2>
            <p>Filtračný systém je určený na separáciu oleja od mechanických feromagnetických nečistôt. Magnetický separátor je zapojený do obtoku hlavného centrálneho systému, ktorý je plne automatizovaný bez obsluhy. Použitie s filtráciou ECOFIL zaručuje prečistenie oleja na stupeň 3-4 podľa kvalifikácie NAS. Táto hodnota je nižšia (olej je čistejší) ako u bežného nového oleja.</p>
            <img src="/images/magnetic_filtration_category.png" width="500" height="500" alt="Magnetický separátor">

    </div>    
    <div class="mg-fi-item" onclick="location.href='/produkty/magneticka-filtracia/magneticky-filter'">
            <h2>Magnetický filter</h2>
            <p>Magnetický filter MF 10" je plnoprietokový filter, ktorý separuje feromagnetické mikročastice zo systému. Filter obsahuje magnet so silou 0,9T. Filter sa zapája do prietoku pred vstup do zariadenia. Znečistenie oleja je viditeľné zachytávaním feromagnetických častíc na magnet. Pri zapojení do systému je potrebné umiestniť ventil rovnako pred aj za filter. Uzavretie ventilov umožní pohodlné vyčistenie samotného filtra. Po uzavretí ventilov musí byť filter vypustený pomocou vypúšťacieho ventilu a následne po vybratí magnetu je z neho možné odstrániť feromagnetické častice pomocou plastovej stierky.</p>
            <img src="/images/unit_magnet.png" width="400" height="400" alt="Magnetický filter">
    </div>
</section>