<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/produkty"><li>Produkty</li></a>
        <li> / </li>
        <a href="/produkty/magneticka-filtracia"><li>Mag. filtrácia</li></a>
        <li> / </li>
        <a href=""><li>Mag. filter</li></a>
    </ul>
</section>

<section class="mg-container">
    <section class="mf-container">
        <img src="/images/unit_magnet.png" width="300" height="300" alt="Magnetický filter">
        <div class="mf-content">
            <h2>Magnetický filter</h2>
            <p>Magnetický filter MF 10" je plnoprietokový filter, ktorý separuje feromagnetické mikročastice zo systému. Filter obsahuje magnet so silou 0,9T. Filter sa zapája do prietoku pred vstup do zariadenia. Znečistenie oleja je viditeľné zachytávaním feromagnetických častíc na magnet. Pri zapojení do systému je potrebné umiestniť ventil rovnako pred aj za filter. Uzavretie ventilov umožní pohodlné vyčistenie samotného filtra. Po uzavretí ventilov musí byť filter vypustený pomocou vypúšťacieho ventilu a následne po vybratí magnetu je z neho možné odstrániť feromagnetické častice pomocou plastovej stierky.</p>
        </div>
    </section>
</section>