<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/produkty"><li>Produkty</li></a>
        <li> / </li>
        <a href="/produkty/magneticka-filtracia"><li>Magnetická filtrácia</li></a>
        <li> / </li>
        <a href=""><li>Magnetický separátor</li></a>
    </ul>
</section>

<section class="mg-container">
    <section class="showpage-narrow">
        <div id="ms-content">
            <h2>Magnetický separátor</h2>
            <p>Filtračný systém je určený na separáciu oleja od mechanických feromagnetických nečistôt. Magnetický separátor je zapojený do obtoku hlavného centrálneho systému, ktorý je plne automatizovaný bez obsluhy. Použitie s filtráciou ECOFIL zaručuje prečistenie oleja na stupeň 3-4 podľa kvalifikácie NAS. Táto hodnota je nižšia (olej je čistejší) ako u bežného nového oleja.</p>
            <div id="ms-pics">
                <img src="/images/magnetic_separator2.png" height="400" width="400" alt="Magneticky separator foto 1">
                <img src="/images/magnetic_filtration_category.png" height="400" width="400" alt="Magneticky separator foto 2">
            </div>
            <h3>Filtračný systém pozostáva z:</h3>
            <ul>
               <li>elektrickej skrine, ktorá slúži na ovládanie filtračného systému</li>
               <li>magnetického separátora s magnetom o sile 0,9T, ktorý separuje olej od mechanických feromagnetických nečistôt</li>
               <li>čerpadla, ktoré dopravuje znečistenú kvapalinu do separátora</li>
               <li>dopravníka, ktorý odvádza odseparované kovové špony do zbernej nádoby.</li>
            </ul>
            <p>Magnetický separátor tvorí základný rám, magnet uložený na ložiskách poháňaný prevodovkou, rozdeľovacia tryska, ktorá prepravuje kvapalinu okolo magnetu do prepadovej vaničky a stierka, ktorá stiera feromagnetické mechanické nečistoty a po nej sa posúvajú a padajú na dopravník.</p>
            <p>Čerpadlo nasáva kvapalinu z nádrže a na jeho výstupe sa nachádza rozbočovač, ktorý je rozdelený na dve časti. Jednou stranou tečie kvapalina do separátora a druhou stranou obtokom naspäť do nádrže kvôli vyregulovaniu prietoku. Čerpadlo je vybavené ukazovateľom tlaku a ventilom pre zaliatie čerpadla pri prvotnom spustení.</p>
            <p>Na konci dopravného pásu je inštalované potrubie pre odvod mechanických kovových častí do zbernej nádoby.</p>
            </p>
            <div id="ms-table">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Technický parameter</th>
                            <th>Jednotka</th>
                            <th>Hodnota</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-title">Typ filtracnej baterie</td>
                            <td></td>
                            <td></td>
                            <td>ECOFIL MAGNET STABIL SEPARATOR</td>
                        </tr>
                        <tr>
                            <td class="table-title">Počet filtračných jednotiek</td>
                            <td></td>
                            <td>ks</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td class="table-title">Normálny prietok s odtokom</td>
                            <td></td>
                            <td>l / min.</td>
                            <td>250 l / min. (7cSt)</td>
                        </tr>
                        <tr>
                            <td class="table-title">Maximálna teplota oleja</td>
                            <td></td>
                            <td>°C</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td class="table-title">Viskozita vstupného oleja</td>
                            <td></td>
                            <td>cSt</td>
                            <td>5 - 60</td>
                        </tr>
                        <tr>
                            <td class="table-title">Maximálny prevádzkový tlak</td>
                            <td></td>
                            <td>bar</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="table-title">Hydraulické prípoje separátora</td>
                            <td class="table-title">vstup</td>
                            <td>DN</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td class="table-title">výstup</td>
                            <td>DN</td>
                            <td>2 x 100</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="table-title">Hydraulické prípoje čerpadla</td>
                            <td class="table-title">sanie</td>
                            <td>DN</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td class="table-title">výtlak</td>
                            <td>DN</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td class="table-title">zalievanie</td>
                            <td>závit</td>
                            <td>G 3/8"</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="table-title">Vonkajšie rozmery separátora</td>
                            <td class="table-title">dĺžka</td>
                            <td>mm</td>
                            <td>1 787 (s prevodovkou)</td>
                        </tr>
                        <tr>
                            <td class="table-title">šírka</td>
                            <td>mm</td>
                            <td>633,5 (s prevodovkou)</td>
                        </tr>
                        <tr>
                            <td class="table-title">výška</td>
                            <td>mm</td>
                            <td>550</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="table-title">Vonkajšie rozmery čerpadla</td>
                            <td class="table-title">dĺžka</td>
                            <td>mm</td>
                            <td>740</td>
                        </tr>
                        <tr>
                            <td class="table-title">šírka</td>
                            <td>mm</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td class="table-title">výška</td>
                            <td>mm</td>
                            <td>833 (nad nádržou)</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="table-title">Vonkajšie rozmery dopravníka</td>
                            <td class="table-title">dĺžka</td>
                            <td>mm</td>
                            <td>4504</td>
                        </tr>
                        <tr>
                            <td class="table-title">šírka</td>
                            <td>mm</td>
                            <td>310</td>
                        </tr>
                        <tr>
                            <td class="table-title">výška</td>
                            <td>mm</td>
                            <td>365,5</td>
                        </tr>
                        <tr>
                            <td class="table-title">Elektrické napájanie</td>
                            <td></td>
                            <td>V</td>
                            <td>3 x 230V / 400V 50Hz - 16A 5 kolík</td>
                        </tr>
                        <tr>
                            <td class="table-title">Príkon pohonu separátora</td>
                            <td></td>
                            <td>kW</td>
                            <td>0,25</td>
                        </tr>
                        <tr>
                            <td class="table-title">Príkon čerpadla</td>
                            <td></td>
                            <td>kW</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td class="table-title">Príkon dopravníka</td>
                            <td></td>
                            <td>kW</td>
                            <td>0,18</td>
                        </tr>
                        <tr>
                            <td class="table-title">Celkový inštalovaný príkon</td>
                            <td></td>
                            <td>kW</td>
                            <td>0,25</td>
                        </tr>
                        <tr>
                            <td class="table-title">Stupeň ochrany el. zariadenia</td>
                            <td></td>
                            <td></td>
                            <td>IP 54</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
<section id="ms-video">
    <h3>Magnetický separátor - videoukážka</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/K20OPQNXg_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>