<% layout("layouts/boilerplate") %>
<section class="container-narrow">
    <h2>Pridaj nové filtračné zariadenie</h2>
    <form class="product-form" action="/produkty/filtracne-zariadenia" method="POST" enctype="multipart/form-data">
        <div>
            <label for="nazov">Názov</label>
            <input type="text" name="filtracneZariadenie[nazov]" id="nazov" required>
        </div>
        <div>
            <label for="obrazok">Fotka</label>
            <input type="file" name="obrazok" id="obrazok" required>
        </div>
        <div>
            <label for="objOlejNad">Objem olejovej nádrže</label>
            <input type="text" name="filtracneZariadenie[objOlejNad]" id="objOlejNad">
        </div>
        <div>
            <label for="elMotor">El. Motor</label>
            <input type="text" name="filtracneZariadenie[elMotor]" id="elMotor">
        </div>
        <div>
            <label for="normPriet">Norm. Prietok</label>
            <input type="text" name="filtracneZariadenie[normPriet]" id="normPriet">
        </div>
        <div>
            <label for="maxTlak">Max. tlak</label>
            <input type="text" name="filtracneZariadenie[maxTlak]" id="maxTlak">
        </div>
        <div>
            <label for="kategoria">Kategória</label>
            <select name="filtracneZariadenie[kategoria]" id="kategoria">
                <option value="">-</option>
                <option value="Rada SN">Rada SN</option>
                <option value="Rada ONW">Rada ONW</option>
                <option value="Transformátorové">Zariadenia na filtráciu transformátorových olejov</option>
                <option value="Výbušné">Zariadenia na filtráciu do výbušného prostredia v nevýbušnom prevedení</option>
                <option value="Špeciálne">Špeciálne zariadenia</option>
            </select>
        </div>
        <div>
            <button class="add-product-button">✓ Pridať</button>
            <a class="cancel-product-button" href="/produkty/filtracne-zariadenia">X Zrušiť</a>
        </div>
    </form>
</section>
