<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/produkty"><li>Produkty</li></a>
        <li> / </li>
        <a href=""><li>Analýza oleja</li></a>
    </ul>
</section>

<section class="uvod">
    <section class="uvod-text">
        <h1>Analýza oleja</h1>
        <h3>Analyzačná sada pre stanovenie triedy čistoty podľa ISO 4406 a obsahu vody</h3>
        <p>Voda a nečistoty sú prítomné v každom hydraulickom systéme. Najdôležitejším rozdielom medzi úrovňou znečistenia rôznych systémov je počet a veľkosť častíc. Každý komponent, kde spojovacie časti sa jedna k druhej relatívne pohybujú, je citlivý na kontamináciu časticami. Stupeň citlivosti závisí od funkcie a konštrukcie komponentu. Ak vykonaná filtrácia korešponduje s tolerovateľnou úrovňou kontaminácie, systém bude pracovať dlhý čas bez znakov opotrebenia alebo zníženia výkonu. Skúsený údržbárenský personál hydrauliky sa všeobecne zhoduje na tom, že väčšina predčasných porúch komponentov a systému je spôsobená kontamináciou časticami.
        <p>Aby sme zistili množstvo častíc v systéme, musia byt' vykonané pravidelné kontroly. Testovacia súprava pre analýzu kvapalín poskytuje jednoduchý spôsob pre vykonávanie kvalitatívnych analýz častíc v systéme. Použitím súpravy sa problémy diagnostikujú v začiatku, kde sú potom potrebné skôr malé opravy ako rozsiahle zásahy do systému.</p>
        <p>Pomocou analyzačného kufríka môžeme analyzovať nečistoty, obsah vody a viskozitu olejov.</p>
    </section>
    <div  class="uvod-img">
        <img src="/images/oil_analysis_category.png" alt="Analýza oleja" height="350px">
    </div>
</section>

<section id="ao-pics-row">
    <a data-fslightbox href="/images/analyza-oleja-pictures-row/1.jpeg" class="ao-pic"><img src="/images/analyza-oleja-pictures-row/1-th.jpeg" width="100%" height="100%" alt="1"></a>
    <a data-fslightbox href="/images/analyza-oleja-pictures-row/2.jpeg" class="ao-pic"><img src="/images/analyza-oleja-pictures-row/2-th.jpeg" width="100%" height="100%" alt="2"></a>
    <a data-fslightbox href="/images/analyza-oleja-pictures-row/3.jpeg" class="ao-pic"><img src="/images/analyza-oleja-pictures-row/3-th.jpeg" width="100%" height="100%" alt="3"></a>
    <a data-fslightbox href="/images/analyza-oleja-pictures-row/4.jpeg" class="ao-pic"><img src="/images/analyza-oleja-pictures-row/4-th.jpeg" width="100%" height="100%" alt="4"></a>
    <a data-fslightbox href="/images/analyza-oleja-pictures-row/5.jpeg" class="ao-pic"><img src="/images/analyza-oleja-pictures-row/5-th.jpeg" width="100%" height="100%" alt="5"></a>
</section>

<section class="container-narrow" id="ao-yb-videos">
    <div>
        <h2>Analyzačný kufrík - návod na použitie</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1fd8YT5xZsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <h2>Test motorového oleja</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/783aSNf2yoI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>