<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/produkty"><li>Produkty</li></a>
        <li> / </li>
        <a href=""><li>Aquameter</li></a>
    </ul>
</section>

<section class="uvod">
    <section class="uvod-text">
        <h1>Aquameter</h1>
        <p>Aquameter je merací prístroj slúžiaci na meranie navlhnutia rôznych druhov oleja. Svojou konštrukciou je určený hlavne pre sledovanie a údržbu systémov využívajúce k svojej prevádzke olejové náplne. Množstvo vody v oleji je stanovené nepriamo výpočtom podľa teplotných závislostí z odmeranej teploty a aktivity vody v oleji.</p>
        <p>Aktivita vody je nezávislá na type oleja, jeho veku a teplote. Jej hodnoty indikujú porovnateľnú hodnotu obsahu vlhkosti v oleji do je maximálnej možnej miery nasýtenia. Hodnota 0% znamená, že olej neobsahuje žiadnu vody. Hodnota 100% znamená maximálnu nasýtenosť oleja vodou a tiež prítomnosť voľnej vody (tzv. emulgovanej vody). Aquameter nie je konštruovaný na meranie emulgovanej vody v oleji.</p>
    </section>
    <div class="uvod-img">
        <img src="/images/aquameter.png" alt="Aquameter 1" height="350px">
    </div>
</section>

<section class="container-narrow" id="aquameter-section">
    <img src="/images/aquameter2.png" alt="Aquameter 2" width="400" height="400">
    <div id="aquameter-content">
        <table>
            <tbody>
                <tr>
                    <td class="table-title">Rozmery (v x š x h)</td>
                    <td>168 x 104 x 35 mm</td>
                </tr>
                <tr>
                    <td class="table-title">Dotykový LCD displej</td>
                    <td>4,3" 480 x 272 pixelov</td>
                </tr>
                <tr>
                    <td class="table-title">Batéria</td>
                    <td>Li-Ion 3.6 V 6700mAh</td>
                </tr>
                <tr>
                    <td class="table-title">Nabíjací čas cez USB</td>
                    <td>10 hod. max</td>
                </tr>
                <tr>
                    <td class="table-title">A/D prevodník</td>
                    <td>11 bitov</td>
                </tr>
                <tr>
                    <td class="table-title">Ochrana</td>
                    <td>IP65 (NEMA 4)</td>
                </tr>
                <tr>
                    <td class="table-title">Jazyky menu</td>
                    <td>EN, DE, FR, ESP, RU, CZ</td>
                </tr>
                <tr>
                    <td class="table-title">Materiál tela</td>
                    <td>Hliník</td>
                </tr>
                <tr>
                    <td class="table-title">Materiál sondy</td>
                    <td>Nerez 316L</td>
                </tr>
                <tr>
                    <td class="table-title">Dĺžka kábla sondy</td>
                    <td>1,9m</td>
                </tr>
                <tr>
                    <td class="table-title">Rozsah merania aktivity vody</td>
                    <td>0...100%</td>
                </tr>
                <tr>
                    <td class="table-title">Rozsah meraných teplôt</td>
                    <td>-30...70°C</td>
                </tr>
                <tr>
                    <td class="table-title">Presnosť merania aktivity vody</td>
                    <td>±2%</td>
                </tr>
                <tr>
                    <td class="table-title">Presnosť merania teploty</td>
                    <td>±1°C</td>
                </tr>
                <tr>
                    <td class="table-title">Presnosť merania množstva vody</td>
                    <td>±2% alebo ±2ppm</td>
                </tr>
            </tbody>
        </table>
        <p>Množstvo vody v oleji v hodnotách ppm (mg/kg) je vypočítané na základe predvolieb. Užívateľ si môže zadefinovať 20 koeficientov v predvoľbách. Každá predvoľba je definovaná názvom a dvoma číslicami. Predvoľba používa exponenciálnu závislosť rozpustnosť vody v oleji. Meranie môže byť zlepšené nasledujúcim postupom:  <em>Ponuka / Nastavenie / Kalibrácie senzora / Vodné aktivity</em>. Kapacita záznamu meracieho zariadenia je 8 GB na internú micro SD kartu.</p>
    </div>
</section>
