<% layout("layouts/boilerplate") %>
<h1>Kategórie produktov</h1>

<ul>
    <li><a href="produkty/filtracne-telesa">Filtračné telesá</a></li>
    <li><a href="produkty/filtracne-zariadenia">Filtračné zariadenia</a></li>
    <li><a href="produkty/filtracne-vlozky">Filtračné vložky</a></li>
    <li><a href="produkty/magneticka-filtracia">Magnetická filtrácia</a></li>
    <li><a href="produkty/analyza-oleja">Analyza oleja</a></li>
    <li><a href="produkty/aquameter">Aquameter</a></li>
</ul>